.checkbox {
	width: 38px;
	height: 35px;
	position: relative;
}
.checkbox input,
.checkbox input[type*="checkbox"] {
	top: 0;
	left: 20px;
	z-index: 1;
	opacity: 0;
	width: 38px;
	height: 35px;
	cursor: pointer;
	position: absolute;
}
.checkbox .checkbox-label:before {
	top: 0;
	left: 0;
	content: "";
	width: 38px;
	height: 35px;
	position: absolute;
	background: url('../image/checks-y.png') 38px center no-repeat;
}
.checkbox .checkbox-label {
	top: 0;
	left: 0;
	width: 38px;
	height: 35px;
	position: absolute;
	background: url('../image/checks-n.png') 0px center no-repeat;
}
.checkbox input:checked ~ .checkbox-label:before {
	background-position: left center;
}
.checkbox input:checked ~ .checkbox-label:after {
	right: 38px;
}
.nav-pills li { 
	background-color: #f5f5f5;
}
.nav-pills li a {
	outline: none;
}