<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Private User Login - B2B</title>

        <link rel="stylesheet" type="text/css" href="catalog/view/theme/dealer/css/style.css" />

		<script src="catalog/view/theme/dealer/js/modernizr.custom.63321.js"></script>

		<!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->

    </head>

    <body>

            <div class="container">

		

			

			

			<header>

			

				<h1>

                


                <img src="catalog/view/theme/dealer/images/logo.png" border="0"/></a></h1>

               						

                                    

                           <?php if ($success) { ?>



<div class="success"><?php echo $success; ?></div>



<?php } ?>



<?php if ($error_warning) { ?>



<div class="warning"><?php echo $error_warning; ?></div>



<?php } ?>









<div class="login-content">

                           

                                    

                                    	

  <section class="main">

            

		  <form class="form-1" form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="login">

					<p class="field">

					  <input type="text" name="email" value="<?php echo $email; ?>" placeholder="Registered e-mail address">

						<i class="icon-user icon-large"></i>

					</p>

						<p class="field">

						  <input type="password" name="password" value="<?php echo $password; ?>" placeholder="Your Saved Passwords">

							<i class="icon-lock icon-large"></i>

					</p>

				<p class="submit">

						<button type="submit" name="submit" value="<?php echo $button_login; ?>" class="icon-arrow-right icon-large"></i></button>
<center> 

                  <table width="200" border="0">

                    <tr>

                      <td><a href="index.php?route=account/forgotten"><img src="catalog/view/theme/dealer/images/1.png" width="180" height="48" /></a>

			  </form></td>

                   

    <td> <a href="index.php?route=account/register"> 
              <img src="catalog/view/theme/dealer/images/2.png" width="180" height="48" /></a></td>

                    </tr>
		   
			</section>

        </div>
 

    </body>

</html>