<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li> <a href="<?php echo $breadcrumb['href']; ?>"> <?php echo $breadcrumb['text']; ?> </a> </li>
    <?php } ?>
  </ul>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <div id="cat-row" class="row add_row">
      <h1 class="pull-left"><?php echo $heading_title; ?></h1>
      </div>
      <?php if ($categories) { ?>
      <?php foreach ($categories as $category) { ?>
      <h2 id="<?php echo $category['name']; ?>"><?php echo $category['name']; ?></h2>
      <?php if ($category['manufacturer']) { ?>
      <?php foreach (array_chunk($category['manufacturer'], 4) as $manufacturers) { ?>
      <div class="row">
        <?php foreach ($manufacturers as $manufacturer) { ?>
        <div class="col-sm-3">
<!-- ManufacturerLogo -->
		<?php if ($manufacturer['logo']) { ?>
		<a href="<?php echo $manufacturer['href']; ?>"><img src="<?php echo $manufacturer['logo']; ?>" alt="<?php echo $manufacturer['name']; ?>" class="img-responsive" /></a>
		<?php } ?>
		<a href="<?php echo $manufacturer['href']; ?>"><?php echo $manufacturer['name']; ?></a>
		</div>
<!-- ManufacturerLogo end -->
			
        <?php } ?>
      </div>
      <?php } ?>
      <?php } ?>
      <?php } ?>
      <?php } else { ?>
      <p><?php echo $text_empty; ?></p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      <?php } ?>
      <?php echo $content_bottom; ?>
      	
      
      </div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>