<div class="emailContent"><?php echo $emailtemplate['content1']; ?></div>

<?php if (isset($customer_group) && $customer_group) { ?>
<br />
<strong><?php echo $text_customer_group; ?></strong> <?php echo $customer_group; ?>
<?php } ?>

<?php if (isset($emailtemplate['content2'])) { ?>
<div class="emailContent"><?php echo $emailtemplate['content2']; ?></div>
<?php } ?>