<?php $config = $this->registry->get('config');?>
<?php $lang = (int)$config->get('config_language_id');?>
<div class="solid allclose">
	<div class="over">
		<h3 class="pull-left"><?php echo $heading_title_viewe; ?></h3>
		<div class="over_buttom">
			<input class="pull-right no-btn toggle" type="button" value="<?php echo $text_toggle_viewe; ?>">
			<div class="pull-right allremove hidden-xs"><?php echo $text_clear_viewe; ?></div>
		</div>
	</div>
   <div class="row viewedclose">
      <div class="owl-hidden">
         <div class="option-hover">


            <div id="viewed" class="owl-carousel">
               <?php foreach ($products as $product) { ?>
               <div class="option-hover">


               <div class="move_down_x">


                  <button type="button"   class="remove no-btn" onclick="viewed.delite('<?php echo $product['product_id']; ?>');"><i class="fa fa-times"></i></button>

 <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
 </div>

               
               <!--    <button type="button" class="remove no-btn" onclick="viewed.delite('<?php echo $product['product_id']; ?>');"><i class="fa fa-times"></i></button>
                  <?php if($product['special']) { ?>
                  <div class="sale">-<?php echo $product['sale']; ?>%</div>
                  <?php } ?> -->



                  <div class="product-thumb">
				  <?php if($product['special']) { ?>
                  <div class="sale">-<?php echo $product['sale']; ?>%</div>
                  <?php } ?>
                     <div class="action">
                        <div class="wishlist">
                           <button class="no-btn" type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart-o"></i></button>
                        </div>
                        <?php if($config->get('control_compare')== 1) { ?>
                        <div class="compare">
                           <button class="no-btn" type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
                        </div>
                        <?php } ?>
                        <?php if($config->get('control_quickview')== "1") { ?>
                        <div class="compare visible-md visible-lg">
                           <a rel="nofollow" href="index.php?route=product/quick_view&product_id=<?php echo $product['product_id']; ?>" class="quick-popup" data-toggle="tooltip" title="<?php echo $text_tooltip_quick; ?>"><i class="fa fa-external-link"></i></a>
                        </div>
                        <?php } ?>
                     </div>
                     <?php if ($product['thumb_swap']) { ?>
                     <div class="image hover"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
                     <div class="image "><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb_swap']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
                     <?php } else {?>
                     <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
                     <?php } ?>
                     <div>
                        <div class="caption">
                           <?php if($config->get('control_stock')== 1) { ?><span class="stock" data-toggle="tooltip" title="<?php echo $product['stock']; ?>" style="background-color:<?php echo ($product['quantity'] > 0) ? '#9BD79B' : '#F07899'; ?>;"></span><?php } ?>


                            <!-- 
                           <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4> -->






                           <?php if ($product['rating']) { ?>
                           <div class="rating">
                              <?php for ($i = 1; $i <= 5; $i++) { ?>
                              <?php if ($product['rating'] < $i) { ?>
                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                              <?php } else { ?>
                              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                              <?php } ?>
                              <?php } ?>
                           </div>
                           <?php } ?>
                           <button type="button" class="no-btn" onclick="cart.add('<?php echo $product['product_id']; ?>');">
                           <span class="cart-icon"><?php echo $button_cart; ?></span>
                           </button>
                           <?php if ($product['price']) { ?>
                           <p class="price">
                              <?php if (!$product['special']) { ?>
                              <?php echo $product['price']; ?>
                              <?php } else { ?>
                              <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                              <?php } ?>
                              <?php if ($product['tax']) { ?>
                              <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                              <?php } ?>
                           </p>
                           <?php } ?>
                        </div>
                     </div>
                  </div>
                  <?php foreach ($product['options'] as $option) { ?>
                  <?php if ($option['type'] == 'radio') { ?>              
                  <?php $control_option_title = $config->get('control_option_title'); if ($option['name'] ==  $control_option_title[$lang] ) { ?>
                  <div class="opsize">
                     <label class="control-label"><?php echo $option['name']; ?></label>
                     <div class="input-option">
                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                        <div class="opradio <?php if ($option_value['subtract']) { if ($option_value['quantity'] <= 0) echo 'out';} ?>"
                           data-toggle="tooltip" title="<?php if ($option_value['subtract']) {
                              if ($option_value['quantity'] > 0)
                                echo ''.$text_scl.' '.$option_value['quantity'].' '.$text_pcs;
                              else
                                echo ' '.$text_out_of_stock.' ';} ?>"><?php echo $option_value['name']; ?></div>
                        <?php } ?>
                     </div>
                  </div>
                  <?php } ?>              
                  <?php } ?>
                  <?php } ?>
               </div>
               <?php } ?>
            </div>
         </div>
      </div>
   </div>
</div>
<style>
   .topfooter {
   background:#F2F2F2;
   }
</style>
<script>
   $(document).ready(function() {
   	$(".topfooter #viewed").owlCarousel({
   		itemsCustom : [[320, 2],[600, 2],[768, 3],[992, 3],[1170, 5]],											   
   		navigation : true,
   		navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
   		scrollPerPage : true,
   		pagination: false
       });
   	});
   
   $('.allremove').click(function() {
   document.cookie = "viewed=/; expires=21/07/2003 00:00:00; path=/; domain=<?php echo $domen; ?>; secure";
   $('.allremove').hide();
   });
   
   $(function(){
   $.fn.textToggle = function(arr, fn) {
    return this.each(function(i,elem) {
        $(elem).click(function() {
            var c = 0;
            return function() {
                $(this)[elem.hasAttribute('value') ? 'val':'text'](arr[c++ % arr.length]);
                fn && fn.bind(elem)()
            }
        }());
   
    })
   };
   
   var blocks = $(".allclose");
   blocks.each(function(indx, el) {
    var block = $(el);
    var items = $(".owl-item", block);
    items.each(function(indx, elem) {
        var item = $(elem);
        $(".remove", item).click(function() {
            item.remove();
            var len = $(".remove", block).length;
            if (!len) block.hide("fast")
        })
    });
    $(".allremove", block).click(function() {
        $(".remove", block).click()
    })
    var tgl = $(".toggle", block);
    tgl.textToggle(['Открыть','Свернуть'],function() {
        var view = $(".viewedclose, .allremove", block);
        view.slideToggle();
        localStorage.setItem('close', this.value);
    })
    if (localStorage.getItem('close') == 'Открыть') {
   tgl.trigger('click');
   };
   });
   });
   
   var viewed = {
   'delite': function(product_id) {
   $.ajax({
   url: 'index.php?route=module/viewed/delite',
   type: 'post',
   data: 'product_id=' + product_id,
   dataType: 'json'});
   }	
   }
</script>