body {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
color: #333;
font-size: 12px;
line-height: 20px;
width: 100%;
background: #f9f9f9;
left: 0;
}
button, input, select, textarea {
outline: none;
}
h1, h2, h3, h4, h5, h6 {
color: #444;
}
/* default font size */
.fa {
font-size: 14px;
}
/* Override the bootstrap defaults */
h1, h2 {
font-weight: 600;
text-transform: uppercase;
font-size: 17px;
margin-bottom: 25px;
}
h1:after, h2:after {
content: '';
background: url(../image/head.png);
width: 62px;
height: 5px;
display: inline-block;
margin-left: 10px;
vertical-align: middle;
margin-top: -3px;
}
.product-info h1:after, h1.pull-right:after,h2.pull-right:after {
content: none;
width:0;
}
h1.pull-right, h2.pull-right {
margin-top:0;
}
h3 {
font-size: 14px;
text-transform: uppercase;
}
h4 {
font-size: 15px;
}
h5 {
font-size: 12px;
}
h6 {
font-size: 10.2px;
}
a {
color: #23a1d1;
outline:none;
}
a:hover {
text-decoration: none;
outline:none;
}
a:focus{outline:none;
text-decoration:none;
}
legend {
font-size: 18px;
padding: 7px 0px
}
label {
font-size: 12px;
font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
font-size: 10px;
}
.input-group .input-group-addon {
font-size: 12px;
height: 30px;
}
input::-webkit-input-placeholder       {line-height: 20px;  transition: line-height 0.5s ease;}
input::-moz-placeholder                {line-height: 20px;  transition: line-height 0.5s ease;}
input:-moz-placeholder                 {line-height: 20px;  transition: line-height 0.5s ease;}
input:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;}
input:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
-o-transition: none;
}
input:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}
#input-quantity {
    width: 35px;
    height: 34px;
    float: left;
    padding: 2px 8px;
    text-align: center;
    border-bottom: 2px solid #D4D4D4;
    background: #EDEDED;
    border-radius: 30px;

}
input[type=checkbox].disabled, input[type=checkbox][disabled], input[type=radio].disabled, input[type=radio][disabled] {
background: #F0F0F0;
}
#search input::-webkit-input-placeholder       { text-align: center;
color:#333 !important;
font-size:10px;
text-transform:uppercase;
}
#search input::-moz-placeholder                { text-align: center;
color:#333;
font-size:20px}
#search input:-moz-placeholder                 { text-align: center;
color:#333;
font-size:20px}
.mm-menu.mm-offcanvas, .fixload {
display: none;
}
.topm {
background: url(../image/rainbow.jpg) repeat-x top;
padding-top: 3px;
border-bottom: 1px solid #eee;
-webkit-box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.15);
box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.15);
}
.topm ul {
margin: 0;
padding: 0;	
}
.topm li {
line-height: 30px;
display: inline-block;
text-transform: uppercase;
font-size: 9px;
}
.topm .left li {
padding-right: 25px;
}
.topm .right li {
padding-left: 25px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
display: inline;
}
.nav-tabs>li>a {
border-radius: 0px;
padding: 0;
border: 0;
padding: 10px 10px;
font-size: 14px;
border-bottom: 2px solid #ccc;
margin: 0;
}
.tab-content {
margin-bottom: 15px;
}
.scrollto {
cursor:pointer;
}
.nav-tabs {
font-size: 10px;
border: 0;
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 20px;
}
#product .nav-tabs {
margin-top: -1px;
}
#product .nav-tabs>li>a {
border-width:2px;
}
#product .nav-tabs>li.active>a, #product .nav-tabs>li.active>a:focus, #product .nav-tabs>li.active>a:hover {
border-width: 2px;
}
.spanel .nav-tabs {
display: table;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
border: 0;
background: none;
color: #555;
border-bottom: 2px solid #2DBEEE;
}

.nav-tabs>li>a:hover {
background:none;
}
div.required .control-label:before {
content: '* ';
color: #F00;
font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
text-decoration: none;
}
/* top */
.white {
background-color: #fff;
padding: 30px 0 0 0;
margin-bottom: 20px;
-webkit-box-shadow: 1px 1px 1px rgba(34,34,34,0.1);
-moz-box-shadow: 1px 1px 1px rgba(34,34,34,0.1);
box-shadow: 1px 1px 1px rgba(34,34,34,0.1);
}
.common-home .white {
margin-bottom: 40px;
}
header {
margin-bottom: 10px;
}
#top {
background-color: #EEEEEE;
border-bottom: 1px solid #e2e2e2;
padding: 4px 0px 3px 0;
margin: 0 0 20px 0;
min-height: 40px;
display: none;
}
#top .container {
padding: 0 20px;
}
#top #currency .currency-select {
text-align: left;
}
#top #currency .currency-select:hover {
text-shadow: none;
color: #ffffff;
background-color: #229ac8;
background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
color: #888;
text-shadow: 0 1px 0 #FFF;
text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
color: #444;
}
#top-links .dropdown-menu a {
text-shadow: none;
}
#top-links .dropdown-menu a:hover {
color: #FFF;
}
#top .btn-link strong {
font-size: 14px;
line-height: 14px;
}
#top-links {
padding-top: 6px;
}
#top-links a + a {
margin-left: 15px;
}
#logo {
margin: 0 0 16px 0;
}
#logo img {
margin: 0 auto;
}
#topsearch {
position: relative;
background-color: #FECD52;
transition-duration: 0.6s;
z-index: -1;
height: 0px;
transition-duration: 0.6s;
}
#topsearch.open {
height: 50px;
transition-duration:0.6s;
z-index: 2;
}
#sclose {
padding: 5px 10px;
position: absolute;
cursor: pointer;
font-size: 17px;
color: #3E3E3E;
top: 46px;
line-height: 18px;
background: #FECD52;
}
#search .input-lg {
height: 50px;
line-height: 20px;
padding: 0 10px;
background-color: transparent;
}
#search .btn-lg {
font-size: 15px;
line-height: 19px;
padding: 10px 0px;
border-radius: 0;
}
#search .fa {
color: #333;
}
.topcanvas2 {
top:0px;
transition-duration:0.6s;
position: relative;
}
.topcanvas2.fix.top { 
position: relative;
top: 57px;
transition-duration:0.6s;
}
.head-block {
text-align: right;
}
.col {
display:inline-block;
margin-left:15px;
vertical-align: top;
}
#language ul, #currency ul{
padding: 0;
    margin: 0;
    width: 17px;
    min-width: 17px;
    box-shadow: none;
	-webkit-box-shadow:none;
    border: 0;
}
#language ul a {
padding: 0;
}

#language .fa-caret-down, #currency .fa-caret-down {
color: #DFDFDF;
}
.currency-select {
text-align: left;
}
.phone, .regim, #searchid, .quicklogin, #carturl { 
font-weight: 400;
font-size: 10px;
color: #000;
text-transform: uppercase;
display: inline-block;
cursor:pointer;
margin-bottom: 0;
line-height: 21px;
} 
.phone {
font-size: 12px;
display: block;
}
a.callme  {
border-bottom:1px dotted #aaa;
cursor: pointer;
}
.regim:before {
content: "";
position: absolute;
width: 20px;
height: 21px;
top: 8px;
margin-left: -30px;
background: url(../image/regim.png) no-repeat;
}
.pblock {
overflow: hidden;
border-top: 1px dotted #E8E8E8;
border-bottom: 1px dotted #E8E8E8;
margin-bottom: 20px;
padding: 5px 0;
}
.bold {font-weight: 800;}
#cart {
margin-bottom: 10px;
text-align: right;
width: auto;
position: relative;
}
#cart > .btn {
font-size: 12px;
line-height: 18px;
color: #FFF;
}
#cart.open > .btn {
background-image: none;
background-color: #FFFFFF;
border: 1px solid #E6E6E6;
color: #666;
box-shadow: none;
text-shadow: none;
}
#cart.open > .btn:hover {
color: #444;
}
#cart .dropdown-menu {
background: #eee;
z-index: 1001;
}
#cart .dropdown-menu {
min-width: 100%;
}
@media (max-width: 478px) {
#cart .dropdown-menu {
width: 100%;
}
}
#cart .dropdown-menu table {
margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
min-width: 427px;
padding: 0 10px;
}
@media (max-width: 478px) {
#cart .dropdown-menu li > div {
min-width: 100%;
}
}
#cart .dropdown-menu li p {
margin: 20px 0;
}
.shopping-cart {
background-color: #F5F5F5;
border-radius: 30px;
padding: 12px 12px;
position: relative;
}
#cart-total {
color: #444;
border-bottom: 1px solid #C19833;
background: #FECD52;
padding: 0px 7px;
margin-left: 10px;
border-radius: 30px;
font-size: 10px;
display: block;
float: right;
cursor: default;
}
.white.fix #cart-total {
width: 50px;
height: 50px;
text-align: right;
position: fixed;
top: 0;
right: 0;
z-index: 99;
border-radius: 0;
background: url(../image/cart2.png) no-repeat center;
border: 0;
border-left: 1px solid #EEEEEE;
color: #2DBEEE;
}
.white.fix #carturl {
position: fixed;
height: 50px;
width: 50px;
background: transparent;
right: 0;
top: 0;
z-index: 9999;
color: #597AB2;
}

.white.fix #carturl .hidecart {
display:none;
}

.white.fix .nav #wishlist-total {
display:none;
}
/*slider*/
#bar{
width: 0%;
max-width: 100%;
height: 2px;
background: #ccc;
}
#progressBar{
width: 100%;
position: absolute;
z-index: 9;
}
.absol {
position: absolute;
left: 0;
right: 0;
bottom: 10%;
}
.absol .climg a:before {    
width: 0;
height: 0;
bottom: 0;
right: 0;
content: '';    position: absolute;
z-index: 1;
-webkit-transition: all 0.4s ease-out 0s;
transition: all 0.4s ease-out 0s;
background: rgba(255,255,255,0.3);
}
.absol .climg a:after {    
width: 0;
height: 0; 
top: 0;
left: 0;
background: rgba(255,255,255,0.3);  
-webkit-transition: all 0.4s ease-out 0s;
transition: all 0.4s ease-out 0s;
content: '';
position: absolute;
z-index: 1;
opacity: 0.5;
filter: alpha(opacity=50);
}	
	
.absol .climg:hover a:before, .absol .climg:hover a:after {   
width: 100%;
height: 100%;
max-width: 350px;
margin: 0 15px;
}

.lslideblock {
position: absolute;
left: 14%;
top: 13%;
}
.sliderh1 {
font-size: 32px;
text-transform: uppercase;
font-weight: 800;
color: #000;
line-height: 32px;
}
.sliderh1.border:after {
content: '';
width: 100px;
height: 4px;
background: #EB7481;
display: block;
margin-top: 10px;
}

.sliderh3it {
font-size: 12px;
color: #000;
font-style: italic;
padding-top: 25px;
}
.climg {
width: 100%;
background: #fff;
overflow: hidden;
}

.sicon {
float: left;
height: 112px;
width: 71px;
}

.icon-master {
background: url(/image/catalog/demo/banners/icon-master.jpg) no-repeat center;
}
.icon-zamer {
background: url(/image/catalog/demo/banners/icon-zamer.jpg) no-repeat center;
}
.icon-sklad {
background: url(/image/catalog/demo/banners/icon-sklad.jpg) no-repeat center;
}
.icon-odejda {
background: url(/image/catalog/demo/banners/icon-odejda.png) no-repeat center;
}
.icon-obuv {
background: url(/image/catalog/demo/banners/icon-obuv.png) no-repeat center;
}
.icon-tovar {
background: url(/image/catalog/demo/banners/icon-tovar.png) no-repeat center;
}


.bntext {
padding: 40px 16px 36px 82px;
font-size: 13px;
}


.slabel {
position: absolute;
right: 21px;
top: 5px;
width: 40px;
height: 20px;
color: white;
text-align: center;
border-radius:30px;
}
.slabel.red {
background: #EB7481;
}
.slabel.blue {
background: #2DBEEE;
}
.slabel.white {
background: #fff;
color: #000;
}

@media (max-width: 748px) {

.sliderh1 {
font-size: 20px;
}
.slidebtn {
height: 40px;
width: 40px;
background-size: 35%;
}
.absol {
display:none;
}

}


@media (max-width: 992px) {
.bntext {
padding: 22px 16px 10px 73px;
font-size: 13px;
}
}

/*Анимация*/
.del1 {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
-ms-animation-delay: 0.2s;
animation-delay: 0.2s;
}
.del2 {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
-ms-animation-delay: 0.5s;
animation-delay: 0.5s;
}
.del3 {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
-ms-animation-delay: 1s;
animation-delay: 1s;
}

.active .blurFadeIn {
-webkit-animation: blurFadeIn 0.5s ease-in backwards;
-moz-animation: blurFadeI 0.5s ease-in backwards;
-ms-animation: blurFadeIn 0.5s ease-in backwards;
animation: blurFadeIn 0.5s ease-in backwards;
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
-ms-animation-delay: 0.5s;
animation-delay: 0.5s;
}

@-webkit-keyframes blurFadeIn{
0%{
	opacity: 0;
	text-shadow: 0px 0px 40px #fff;
	-webkit-transform: scale(1.3);
}
50%{
	opacity: 0.5;
	text-shadow: 0px 0px 10px #fff;
	-webkit-transform: scale(1.1);
}
100%{
	opacity: 1;
	text-shadow: 0px 0px 1px #fff;
	-webkit-transform: scale(1);
}
}
@-moz-keyframes blurFadeIn{
0%{
	opacity: 0;
	text-shadow: 0px 0px 40px #fff;
	-moz-transform: scale(1.3);
}
100%{
	opacity: 1;
	text-shadow: 0px 0px 1px #fff;
	-moz-transform: scale(1);
}
}
@keyframes blurFadeIn{
0%{
	opacity: 0;
	text-shadow: 0px 0px 40px #fff;
	transform: scale(1.3);
}
50%{
	opacity: 0.5;
	text-shadow: 0px 0px 10px #fff;
	transform: scale(1.1);
}
100%{
	opacity: 1;
	text-shadow: 0px 0px 1px #fff;
	transform: scale(1);
}
}

/*slideInLeft*/

.active .slideInLeft {
-webkit-animation-name: slideInLeft;
animation-name: slideInLeft; 
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;

}

@-webkit-keyframes slideInLeft {
from {
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}

@keyframes slideInLeft {
from {
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
visibility: visible;
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
/*end slider*/

#sidecart {
list-style: none;
padding: 0px;
margin-bottom: 0;
}
#sidecart .text-right {
padding-right: 24px;
}
.content-slide {
margin-top: -18px;
}
.common-home .content-slide {
margin-top: -38px;
}
.img-responsive {
margin: 0 auto;
}
.gift {
font-size: 50px;
text-align: center;
padding: 16px 10px;
margin: 43px 0px;
}
.cuponmod {
padding-top: 10px;
border: 0px dashed #D4D4D4;
background-color: #F6F6F6;
min-height: 350px;
}
.cuponmod:hover .gift {
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
filter: gray;
opacity: 1;
}
.heading_cupon {
text-align: center;
text-transform: uppercase;
padding: 17px 10px;
color: #4D4D4D;
font-size: 16px;
}
.cupon {
color: #3D3D3D;
font-weight: 800;
text-align: center;
margin: 0 auto;
padding: 4px 6px;
font-size: 14px;
max-width: 130px;
border-top: 1px dashed #D2D2D2;
border-bottom: 1px dashed #D2D2D2;
}
.copy {
display: block;
margin: 0 auto;
font-size: 10px;
margin-top: 5px;
border-bottom: 1px dotted #ccc !important;
text-transform: uppercase;
}
.cupon-info {
text-align: center;
margin-top: 26px;
margin-bottom: 0;
color: #D2D2D2;
}
.cat-info {
font-size: 10px;
}
#menu {
min-height: 40px;
top: 0px;
border-radius: 0;
background: #FFF;
border-top: 1px dashed #EEE;
}

.white.fix #menu {
padding-top: 0px;
position: fixed;
left: 0;
top: 0px;
z-index: 9;
width: 100%;
background: #FFF;
box-shadow: 1px 1px 1px rgba(34,34,34,.1);
border:0px;
}
#menu .menu_title {
position: absolute;
top: 18px;
line-height: 0;
left: 50%;
margin-left: -48px;
}
#menu .menu_title span {
font-size: 14px;
font-weight: 800;
text-transform: uppercase;
margin-left: 4px;
}
#menu .nav > li > a {
padding: 15px 30px 15px 0px;
min-height: 15px;
background-color: transparent;
font-size: 10px;
text-transform: uppercase;
font-weight: 600;
background: #FFF;
color: #777;
}
.nav.navbar-nav {
float: none; 
}
#menu:hover .menu_title {
display: none;
}
#menu .dropdown-menu {
padding: 25px 0;
width: 100%;
margin-left: 0 !important;
border: 1px solid #DFDFDF;
border-left: 0;
border-right: 0;
}
#menu .dropdown-menu li {
position:relative;
}
#menu .dropdown-inner {
display: table;
}
#menu .dropdown-inner ul {
display: table-cell;
}
#menu .dropdown-inner a {
min-width: 160px;
display: block;
padding: 3px 20px;
clear: both;
line-height: 20px;
color: #333333;
font-size: 12px;
}
#menu .dropdown-inner li a:hover {
color: #23527c;
}
#menu .see-all {
display: table;
padding: 3px 12px;
font-size: 10px;
color: #000;
text-transform: uppercase;
border: 1px solid #ccc;
margin: 0 auto;
margin-top: 25px;
border-radius: 30px;
}
#menu .see-all:hover, #menu .see-all:focus {
text-decoration: none;
color: #333;
background-repeat: repeat-x;
}
#menu #category {
float: left;
padding-left: 15px;
font-size: 16px;
font-weight: 700;
line-height: 40px;
color: #fff;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
font-size: 15px;
font-stretch: expanded;
color: #FFF;
padding: 2px 18px;
float: right;
background-color: #229ac8;
background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
background-repeat: repeat-x;
border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
color: #ffffff;
background-color: #229ac8;
}

/* content */
#content {
min-height: 600px;
}
/* footer */
footer {
margin-top: 30px;
padding-top: 30px;
background-color: #fff;
color: #333;
border-top: 1px dashed #E6E6E6;
}
footer hr {
border-top: none;
border-bottom: 1px dashed #666;
}
footer a {
color: #333;
}
.line a {
border-bottom: 1px solid #ccc;
}
.topfooter {
background: #fff;
border-top: 1px solid #E0E0E0;
margin-top: 25px;
margin-bottom:-30px;
}
.topfooter #fsubscription {
background: url(../image/sub3.png) no-repeat right bottom;
}
#fsubscription {
padding: 50px 20px;
background: #fff;
min-height: 145px;
overflow: hidden;
}
#fsubscription .success {
color: #fff;
}
.input-sub {
border: 0;
background: #fff !important;
color: #414141;
padding: 6px 20px;
margin-right: 10px;
width: 100%;
border-radius: 4px;
}
.sub-bl {
float: left;
margin-right: 20px;
margin-top: 10px;
width: 20%;
color: #FFF;
}
.col-sm-4 .sub-bl, .col-sm-3 .sub-bl {
margin-right: 20px;
text-align: center;
float: left;
margin-bottom: 10px;
width: 100%;
}

.info-shop {
text-transform: uppercase;
font-size: 10px;
margin-bottom: 20px;
}
footer .phone {
font-weight: 500;
font-size: 15px;
margin: 0;
color: #333;
vertical-align: top;
line-height: 1;
}
.square {
list-style-type: square;
}
footer .line li {
display: inline-block;
padding-right: 15px;
text-transform: uppercase;
font-size: 10px;
}
.lang-block {
margin-top: 8px;
text-align: center;
border: 1px solid #E6E6E6;
width: 105px;
padding-top: 7px;
}
.lang, .cur {
display: inline-block;
margin-left: 15px;
vertical-align: top;
}

footer strong {
line-height: 1;
vertical-align: top;
color: #585858;
}
footer .social  {
margin-top: 7px;
text-align: right;
}
footer img {
margin-bottom:10px;
}
.copyright {
text-align: center;
border-top: 1px dashed #E6E6E6;
padding: 5px 0px;
margin-top: 25px;
}
/* alert */
.alert {
padding: 8px 14px 8px 14px;
border: 0;
border-radius: 0;
color: #666;
background-color: #D3DDF7;
}
/* breadcrumb */
.breadcrumb {
background: none;
padding:0;
}
.breadcrumb > li {
display: inline-block;
font-size: 10px;
text-transform: uppercase;
}
.breadcrumb > li a {
color: #ABABAB;
}
.breadcrumb  span {
color: #ccc;
cursor: no-drop;
}
.breadcrumb > li + li:before {
content: "/";
font-size: 8px;
}
.pagination {
margin: 0;
}
.buttons {
overflow: hidden;
}
.btn {
padding: 7.5px 12px;
font-size: 12px;
border: 1px solid #cccccc;
border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.account-order .table .btn, .account-order-info .table .btn {
min-width: 33px;
}

.btn-xs {
font-size: 9px;
}
.btn-sm {
font-size: 10.2px;
}
.btn-lg {
padding: 10px 16px;
font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
font-size: 12px;
}
.btn-group > .btn-xs {
font-size: 9px;
}
.btn-group > .btn-sm {
font-size: 10.2px;
}
.btn-group > .btn-lg {
font-size: 15px;
}
.btn-default {
border-radius: 30px;
padding: 9px 25px;
}
.btn-primary {
border-radius: 30px;
border: #5D5D5D;
background: #5D5D5D;
padding: 10px 25px;
}
#button-cart .btn-primary {
margin-left: 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
background-color: #1f90bb;
background-position: 0 -15px;
}
.btn-warning {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #faa732;
background-image: linear-gradient(to bottom, #fbb450, #f89406);
background-repeat: repeat-x;
border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #da4f49;
background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
background-repeat: repeat-x;
border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #5bb75b;
background-image: linear-gradient(to bottom, #62c462, #51a351);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #df5c39;
background-image: linear-gradient(to bottom, #e06342, #dc512c);
background-repeat: repeat-x;
border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
background-image: none;
background-color: #df5c39;
}
.btn-link {
border-color: rgba(0, 0, 0, 0);
cursor: pointer;
color: #23A1D1;
border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
background-color: rgba(0, 0, 0, 0);
background-image: none;
box-shadow: none;
}
.btn-inverse {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #363636;
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
background-color: #222222;
background-image: linear-gradient(to bottom, #333333, #111111);
}

/* list group */
.list-group a {
border: 0;
color: #888;
padding: 8px 20px;
font-size: 10px;
font-weight: 600;
text-transform: uppercase;
background-color: transparent;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
color: #444;
background: none;
text-shadow: none;
}
.list-group-item:first-child, .list-group-item:last-child {
border-radius: 0;
}
/* carousel */
.carousel-caption {
color: #fff;
text-shadow: 0 1px 0 #000;
}
.carousel-control .icon-prev:before {
content: '\f053';
font-family: FontAwesome;
}
.carousel-control .icon-next:before {
content: '\f054';
font-family: FontAwesome;
}
.owl-item .product-thumb {
margin-left: 15px;
margin-right: 15px;
}
.owl-item .product-thumb .image, .owl-item .product-thumb img {
width: 100%;
}
.owl-hidden {
overflow: hidden;
padding-bottom: 36px;
}
.owl-hidden .owl-carousel .owl-wrapper-outer {	
overflow: visible;
}
/*owl arrow*/
.owl-prev {
width: 40px;
height: 40px;
background: rgba(65, 65, 65, 0.25);
font-size: 19px;
text-align: center;
color: #FFF !important;
text-shadow: none !important;
line-height: 40px;
position: absolute;
left: -5px;
top: 50% !important;
margin-top: -20px;
border-radius: 6px;
}
.owl-next {
width: 40px;
height: 40px;
background: rgba(65, 65, 65, 0.25);
font-size: 19px;
text-align: center;
color: #FFF !important;
text-shadow: none !important;
line-height: 40px;
position: absolute;
right: -5px;
top: 50% !important;
margin-top: -20px;
border-radius: 6px;
}
.product-action .owl-prev {
top: 50% !important;
left: 0px !important;	
}
.product-action .owl-next {
top: 50% !important;
right: 0px !important;
}
.owl-carousel .owl-buttons div i {
font-size: 16px !important;
margin: -20px 0 0;
}
.owl-controls .owl-page span {
border-radius: 0px !important;
width: 25px;
height: 7px;
}
.owl-pagination {
top: -35px;
}
.zoom {
color: #A5A5A5;
font-weight: 100;
font-size: 0px;
top: 6px;
left: 21px;
z-index: 4;
cursor: pointer;
position: absolute;
width: 37px;
height: 37px;
background: url(../image/search2.png) center no-repeat;
text-align: center;
padding-top: 5px;
border-radius: 6px;
}
.zoom:hover {
background: #F0F0F0 url(../image/search2.png) center no-repeat;
color: #fff;
}
.owl-wrapper-outer {
border: 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
.synced {
opacity: 0.3;
}
.owl-carousel {
background: none !important;
}
.product-thumb {
border: 1px solid #ddd;
margin-bottom: 20px;
overflow: auto;
position: relative;
}
.product-thumb .image {
text-align: center;
}
.product-thumb .image a {
display: block;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.product-thumb .image.hover a:hover {
opacity: 0;
}
.product-grid .product-thumb .image img {
margin-left: auto;
margin-right: auto;
width: 100%;
}
.product-grid .product-thumb .image img, .product-list .product-thumb .image img {
background: #fff;
}
.product-grid .product-thumb .image {
float: none;
width: 100%;
}
.image.hover {
position: absolute;
left:0;
top:0;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
float: left;
padding-right: 15px;
}
}
.product-thumb h4 {
text-transform: uppercase;
font-size: 10px;
font-weight: 400;
min-height: 22px;
}
.stock {
float: left;
width: 8px;
height: 8px;
margin-right: 5px;
margin-top: 1px;
margin-bottom: 10px;
}
.info-left  .stock {
position: absolute;
left: 2px;
margin-top: 4px;
}
.product-thumb .price {
color: #444;
float: right;
text-align: right;
padding: 1px 10px;
border-radius: 30px;
font-size: 12px;
}
.product-list .product-thumb .price {
font-size: 26px;
font-weight: 100;
}
.product-list .product-thumb .price-old {
    font-size: 14px;
	}
.product-thumb {
border: 0;
margin-bottom: 0px;
overflow: auto;
background-color: #FFF;
}
.product-layout {
margin-bottom: 10px;
}
.product-thumb .caption {
padding: 0 20px;
min-height: 62px;
}
.product-grid .des, .opc .des  {
display: none;
}
.product-list .product-thumb .caption {
margin-left: 230px;
margin-top: 30px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
padding: 0 10px;
}
}
.mobcall {
height: 49px;
border-right: 1px solid #E2E2E2;
display: none ;
width: 55px;
background: url(../image/phone2.png) no-repeat center;
color: #fff;
font-size: 0;
vertical-align: top;
cursor:pointer;
}

.product-action .rating {
position: absolute;
z-index: 999;
right: 30px;
top: 5px;
}
#content .product-thumb .rating {
position: absolute;
top: 4px;
right: 8px;
}
.product-list .product-thumb .rating {
top: 30px;
right: 30px;
}
.rating .fa-stack {
font-size: 8px;
width: 1em;
}
.rating .fa-star-o {
color: #999;
font-size: 8px;
}
.rating .fa-star {
color: #333;
font-size: 8px;
}
.rating .fa-star + .fa-star-o {
color: #333;
}
.hrefr { 
margin-left: 10px;
}
.hrefr .scrollto {
text-transform: uppercase;
font-size: 10px;
}
h3:after {
content: '';
width: 62px;
display: block;
margin-top: 10px;
border-bottom: 2px dotted #2DBEEE;
}
.spanel h3:after,  .spanel2 h3:after{
height: 1px;
background: #ccc;
border: 0;
margin: 0 auto;
margin-top: 0.7em;
}
h2.price {
margin: 0;
}
.product-thumb .price-new {
position: relative;
display: block;
}

.through, .product-thumb .price-old  {
color: #909090;
position: relative;
}
.through:before, .product-thumb .price-old:before  {
content: "";
top: 51%;
position: absolute;
height: 1px;
background-color: red;
-webkit-transform: rotate(-50deg);
-ms-transform: rotate(-50deg);
transform: rotate(-40deg);
width: 27px;
right: 12px;
margin-left: -10px;
}
.product-thumb .price-tax {
color: #999;
font-size: 12px;
display: block;
}
.product-thumb .button-group {
border-top: 1px solid #ddd;
background-color: #eee;
overflow: auto;
}
.product-list .product-thumb .button-group {
border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
.product-list .product-thumb .button-group {
border-left: none;
}
}
.product-thumb .button-group button {
width: 60%;
border: none;
display: inline-block;
float: left;
background-color: #eee;
color: #888;
line-height: 38px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
}
.product-thumb .button-group button + button {
width: 20%;
border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
color: #444;
background-color: #ddd;
text-decoration: none;
cursor: pointer;
}
@media (max-width: 1200px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
width: 33.33%;
}
}
/* fixed colum left + content + right*/
#column-left {
margin-top: -20px;
}

#column-left .product-layout,
#column-right .product-layout {
width: 100%;
}
#column-left .owl-carousel, #column-right .owl-carousel {
display: block;
}
#column-left .product-thumb .image, #column-right .product-thumb .image {
float: left;
margin-right: 8px;
margin-left: 15px;
margin-bottom: 0;
width: 65px;
}
#column-left .stock, #column-right .stock {
width: 6px;
height: 6px;
margin-top: 2px;
}
#column-left .no-btn, #column-right .no-btn {
display: none;
}
#column-left .product-thumb .price-new {
float: right;
margin-left: 10px;}
#column-left .sale, #column-right .sale {
display:none;
}
#column-left .product-thumb {
background-color: transparent;
margin-right: 15px;
margin-bottom: 10px;
}
#column-right .product-thumb {
background-color: transparent;
margin-bottom: 10px;
}
#column-left .panel-default {
background-color: transparent;
margin-bottom: 0px;
}
#column-left h3, #column-right h3 {
font-weight: 800;
text-transform: uppercase;
font-size: 12px;
margin: 0;
padding-top: 20px;
padding-bottom: 25px;
}

#column-left .owl-hidden {
padding-bottom: 0px;
}
#column-left .owl-carousel {
margin: 0;
}
#column-left .rating, #column-right .rating{
float: left;
}
#column-left .price {
line-height: 11px;
}
#column-left .solid {
border-right: 1px solid #EEE;
border-bottom: 1px solid #EEE;
padding-bottom: 15px;
margin-bottom: 0;
}
#column-right .solid {
border-bottom: 1px solid #EEE;
}
#column-left .list-group a {
border:0;
}
#column-right {
border-left: 1px solid #EEE;
}
#column-left .action {
display:none;
}
#content .col-sm-6.text-right {
text-transform: uppercase;
font-size: 10px;
color: #aaa;
margin-bottom: 10px;
}
/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
min-width: 50px;
}
.wproduct {
background: #FFF;
padding: 15px;
}
.icon-star {
display: inline-block;
position: absolute;
}
.iconio {
width: 15px;
height: 15px;
display:block;
color:#ccc !important;
}
.radio-div {display: inline-block;}
#tab-review  .radio-div input[type=radio] {position:relative;margin:0 0 0 -4px;padding:0;width:16px;height: 17px;opacity:0;z-index:2;cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
#tab-review .star-div{display: inline-block;
line-height: 15px;
margin-left: 5px;
vertical-align: top;}
.st5 .sta5,
.st4 .sta4, .st4 .sta5,
.st3 .sta3, .st3 .sta4, .st3 .sta5,
.st2 .sta2, .st2 .sta3, .st2 .sta4, .st2 .sta5,
.st1 .sta1, .st1 .sta2, .st1 .sta3, .st1 .sta4, .st1 .sta5 {
color: #333 !important;
}
.sale {
right: 35px;
top: 14px;
background-color: #FECD52;
border-radius: 30px;
color: #333;
padding: 0px 8px;
position: absolute;
z-index: 5;
font-size: 10px;
line-height: 15px;
}
.econom {
background-color: #2DBEEE;
border-radius: 18px;
color: #FFFFFF;
padding: 0px 10px;
font-size: 10px;
line-height: 27px;
display: inline-block;
margin-bottom: 10px;
}
#quicklogin .tab-content>.tab-pane, #size .tab-content>.tab-pane {
display: block;
visibility: hidden;
left: -300px;
position: absolute;
}
#quicklogin .tab-content>.active, #size .tab-content>.active {
display: block;
visibility: visible;
left: 0;
width: 100%;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
}
#size .tab-content {
height: 170px;
}
#size .tab-pane {
margin: 0;
}
#size .tab-pane img {
width: 43%;
}
#one-image img {
width: 100%;
}
.mcart tbody>tr>td, .mcart .modal-header, .mcart .table-bordered {
border: 0;
}
.table>thead>tr>td {
border-top: 0;
color: #757575;
font-weight: bold;
font-size: 10px;
text-transform: uppercase;
border-bottom: 0;
}
.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
right: 0;
top: 0px;
z-index: 9;
}
.pagination>.active>span {
border: 1px solid #D7D7D7;
border-radius: 0 !important;
color: #333333;
background: none;
font-weight: 700;
}

.pagination>li>a, .pagination>li>span {
border: 0;
background: none;
color: #333;
padding: 6px 11px;
margin-left: 5px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}
#tab-specification tbody tr:nth-child(odd) td {
background-color: #f1f1f1;
}
#tab-specification .table>tbody>tr>td {
border:0;
}
.thumbnail {border:0;}

.menu-icon {
margin-left: 7px;
}
.form-control {
border: 0;
background: none;
background-color: #F1F1F1;
border-radius: 0px;
-webkit-box-shadow:none;
box-shadow: none;
border-radius: 4px;
}
.form-control:focus {
-webkit-box-shadow:none;
box-shadow: none;
}
.required {
position:relative;
}
.required:before {
content: "*";
position: absolute;
width: 5px;
height: 5px;
top: 0px;
right: 6px;
margin-left: -24px;
color: #777;
}
#product .required:before {
content: "";
}
.has-error .form-control {
border: 1px solid #D4D4D4;
box-shadow: none;
background: transparent;
}
.text-danger {
color: #444;
font-size: 10px;
}
input[type=text]:focus, input[type=password]:focus, textarea.form-control:focus, .has-error .form-control:focus{
outline:0;box-shadow:none;border:0;background-color: #F1F1F1;
}
.nav>li {
position: static;
display: block;
}
.nav-tabs>li {
position: relative;
}
.dropdown:hover .arrow:after {
content: "";
width: 14px;
height: 14px;
position: absolute;
left: 50%;
top: 43px;
border-left: 1px solid #dddddd;
border-top: 1px solid #dddddd;
background-color: #fff;
z-index: 999999;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
margin: 0 0 0 -24px;
}
.navbar-nav a {
color: #000;
}
.navbar-nav a.special {
color: #ED174F;
}
.dropdown:hover a, .navbar-nav a:hover {
color: #C9A081;
}
#menu .dropdown-inner a.liheader {
font-size: 11px;
text-transform: uppercase;
font-weight: 600;
}

h4 {
font-size: 12px;
}
a {
color: #525252;
}
.cart-icon {
float: left;
vertical-align: top;
font-weight: 700;
text-transform: uppercase;
color: #ccc;
}
.product-thumb:hover .cart-icon {
color: #444;
border-bottom: 2px solid #FECD52;
}
.block-category {
margin-bottom: 25px;
overflow: hidden;
padding: 0px 5px;
}
.block-category  .owl-carousel {
margin:0;
}
.block-category img {
width: 100%;
height: auto;
}
.catname {
text-transform: uppercase;
font-size: 10px;
border-top: 1px solid #D7D7D7;
margin-top: 10px;
}
.category {
padding: 3px 5px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
border-radius: 30px;
background: #2DBEEE;
color: #FFFFFF;
}
.no-btn {
border: 0;
background: none;
color: #333;
text-shadow:none;
padding: 0;
cursor: pointer;
}
.no-btn:hover {
background:none;
color: #000;
box-shadow: none;
}
.small-btn {
display: inline-block;
height: 27px;
padding: 3px 9px;
vertical-align: top;
color: #fff;
min-width: 36px;
text-align: center;
position:relative;
}
.url-btn {
color: #494949;
text-transform: uppercase;
display: inline-block;
border-bottom:1px dotted #ccc;
margin-top: 2px;
margin-left: 20px;
}
.small-btn.list-view {
background: url(../image/list.png) no-repeat center;
}
.small-btn.grid-view {
background: url(../image/grid.png) no-repeat center;
}
.list-view.active:before, .grid-view.active:after, .list-view:hover:before, .grid-view:hover:after {
content: '';
width: 4px;
display: block;
background: #ccc;
height: 4px;
border-radius: 30px;
position: absolute;
right: 2px;
top: 7px;
}
.fclear {
height: 22px;
padding: 0px 0px;
width: 10px;
min-width: 23px;
border-radius: 30px;
background: #D3D3D3;
color: #fff;
font-size: 10px;
}
#compare-total {
background-color: #D3D3D3;
display: inline-block;
padding: 2px 9px;
vertical-align: top;
color: #fff;
text-align: center;
border-radius: 30px;
}
#cart .fa-shopping-cart  {
font-size: 93px;
color: #FFFFFF;
margin-bottom: 20px;
width: 100%;
height: 500px;
background: #FFF url(../image/detr.jpg) no-repeat 118px bottom;
}
.empty-cart {
text-transform: uppercase;
font-weight: 600;
margin-top: 21px;
color: #444;
position: absolute;
top: 126px;
left: 0;
right: 0;
}
.nopad {
padding:0px;
}
#menu .nopad .pull-right a{
padding-right:0px;
}
#menu .nav  #wishlist-total {
color: #444;
border-bottom: 1px solid #C19833;
background: #FECD52;
padding: 3px 9px;
margin-top: 9px;
border-radius: 30px;
}
#wishlist-total .fa {
font-size: 11px;
margin-right: 6px;
}
.btn-search {
border: 0;
background: none;
position: absolute;
top: 5px;
right: 5px;
color: #FFF;
}
#search:hover .btn-search  {
color: #000;
}
.action {
position: absolute;
z-index: 3;
}
.product-thumb .action > div, .product-action .action > div {
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
margin-bottom: 3px;
-webkit-transform: translate(-100%, 0);
-ms-transform: translate(-100%, 0);
-o-transform: translate(-100%, 0);
transform: translate(-100%, 0);
padding: 5px 9px;
opacity: 0;	
}
.action .wishlist .fa, .action .compare .fa  {
color: #444;
}
.wishlist .fa-times {
color:#E44075 !important;
}
.wishlist:hover .fa, .compare:hover .fa {
color: #000;
}
.wishlist, .compare {
color: #ccc;
background-color: rgb(254, 205, 82);
border-radius: 6px;
}
.wishlist .no-btn {
margin-top: 2px;
animation: heartbeat .6s infinite;
padding: 0 1px;
}
@keyframes heartbeat{20%{transform:scale(0.9)}40%{transform:scale(1)}}
.comparebtn {
position: absolute;
bottom: 13px;
left: 0;
right: 0px;
background: rgba(230, 230, 230, 0.75);
padding: 8px 0;
opacity: 0;
border-radius: 30px;
width: 75%;
margin: 0 auto;
}
.contview {
text-align: center;
position: relative;
}
.product-thumb .comparebtn a{
color: #333;
-webkit-transition: none; 
-moz-transition: none; 
-o-transition: none; 
transition: none; 
}
.product-thumb:hover .comparebtn {
opacity: 1;
}
.comparebtn:hover a, .comparebtn:hover{
background: #EEEEEE;
color: #2D2D2D;
}
.product-thumb:hover .action > div, .product-action:hover .action > div {
-webkit-transform: translate(0px, 0);
-ms-transform: translate(0px, 0);
-o-transform: translate(0px, 0);
transform: translate(8px, 8px);
opacity: 1;
}
.action > div:nth-of-type(2) {
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s;
}
.radio {padding-left: 20px;}
#product .radio {display:inline-block;padding-left: 0px;}
#product .radio input[type="checkbox"],
#product .radio input[type="radio"] {
display:none;            
}
#product .radio input[type="checkbox"] + label, 
#product .radio input[type="radio"] + label {
color: #fff;
cursor: pointer;
text-align:center;
text-transform: uppercase;
}
#product .radio input[type="checkbox"] + label,
#product .radio input[type="radio"] + label {
display: inline-block;
margin-right: 5px;
padding: 3px 10px 3px 10px;
background: #000;
background-repeat: no-repeat;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}
#product .radio input[type="checkbox"] + label {
background-position: -38px -260px;    
}
#product .radio input[type="radio"] + label {
background: #FFFFFF;
border: 1px solid #d6d3cf;
color: #000;
}
#product .radio input[type="radio"] + label:hover {
border: 1px solid #2DBEEE;
}
#product .radio input[type="checkbox"]:checked + label {
background-position: -114px -260px;
}
#product .radio input[type="radio"]:checked + label {
background: #2DBEEE;
border: 1px solid #2DBEEE;
color: #fff;
}
#product .radio input[type="checkbox"]:disabled + label {
background-position: -152px -260px;
}
#product .radio input[type="checkbox"]:checked:disabled + label {
background-position: -171px -260px;
}
#product .radio input[type="radio"]:disabled + label {
background: #eee;
cursor: no-drop;
}
#product .radio input[type="radio"]:checked:disabled + label {
background-position: -162px -279px;
}
#product .control-label {
font-size: 10px;
font-weight: 500;
text-transform: uppercase;
color: #444;
}
#product .related {
margin-bottom: 20px;
}
.help_size, .hminprice {
text-transform: uppercase;
font-size: 10px;
border-bottom: 1px dotted #AAAAAA;
cursor:pointer;
display:inline-block;
}
.opsize {
position: absolute;
z-index: -1;
background-color: #FFF;
width: auto;
padding-left: 17px;
border-bottom: 2px solid #F5F5F5;
left: 15px;
right: 15px;
display: none;
}
.product-list .opsize {
display: block;
bottom: 100px;
left: 280px;
z-index: 8;
margin-right: 25px;
}
.product-grid:hover .opsize, #featured .opc:hover .opsize, .owl-item .option-hover:hover .opsize {
display: block;
z-index: 9;
}
.opradio {
display: inline-block;
margin-right: 3px;
margin-bottom: 9px;
border-radius: 30px;
padding: 0px 4px 0px 4px;
color: #616060;
text-align: center;
cursor: help;
}
.opradio.out {	
color: #ccc;
}
.pnarrow {
width: 89px;
float: right;
}
.prev {
float: left;
background-color: #F5F5F5;
width: 40px;
height: 40px;
padding: 12px 0;
text-align: center;
}
.next {
float: right;
background-color: #F5F5F5;
width: 40px;
height: 40px;
padding: 12px 0;
text-align: center;
}
/*блог*/
.block_news {
overflow: hidden;
margin-bottom: 25px;
}
.newhead {
margin-bottom: 25px;
}	
.newhead h2 {
display: inline-block;
text-transform: uppercase;
font-weight: 100;
font-size: 27px;
}
.newhead .border {
border-bottom: 1px solid #d0d0d0;
font-size: 14px;
text-transform: uppercase;
display: inline-block;
margin: 15px 0 0 20px;
font-weight: 100;
}
.news {
background-color: #fff;
margin-bottom: 20px;
}
.owl-item img.img-news {
float:left;
width: 100px;
}
.newsinfo {
float: left;
padding: 5px 13px;
max-width: 220px;
}
.img-info {
float: left;
    padding: 5px 25px 10px 0px;
}
.newdata {
text-transform: uppercase;
}
.news a {
margin-top: 15px;
font-size: 12px;
text-transform: uppercase;
color: #1f1f1f;
font-weight: 700;
border-bottom: 1px solid;
}
.news a:hover {
color: #3E5885;
}
.newsds {
margin: 10px 15px 0 0;
}
.wbg {
background-color: #FFF;
padding: 20px 40px;
overflow: hidden;
}
.center {
text-align: center;
margin: 30px 0px;
}
p.bold {
font-weight: 600;
text-transform: uppercase;
font-size: 10px;
}
/**owl**/
#featured .owl-wrapper-outer {
position: relative;
width: 100%;
overflow-x: hidden;
overflow-y: visible;
min-height: 381px;
}
/*карточка товара*/
.art {
color: #ccc;
}	
.hproduct {
font-size: 11px;
font-weight: 600;
}
.pinfo {
margin-top: 15px;
}
.pprice {
float: right;
border-radius: 30px;
margin-left: 10px;
font-size: 16px;
margin: 4px 18px;
margin-top: 20px;
font-weight: 900;
position: relative;
}	
.pprice:before {
content: '=';
position: absolute;
right: 3px;
top: 2px;
line-height: 30px;
}
.pprice:after {
content: 'P';
margin-left: 5px;
line-height: 30px;
padding-top: 20px;
}
.pold {
text-decoration: line-through;
background-color: #F5F5F5;
}
.panel-info {
position: absolute;
top: 0;
right: 0;
background: rgba(0,0,0,.75);
color: #FFF;
}
.form-group {
text-align: left;
}
#product .orderbtn {
margin-top: 20px;
}
.variant {
margin-bottom: 25px;
}
.spanel h3, .spanel2 h3 {
text-align: center;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 20px;
line-height: 20px;
}
.panel-close {
cursor: pointer;
width: 47px;
height: 39px;
background: #2DBEEE url(../image/close.png) no-repeat center;
border-bottom: 2px solid #3692B1;
margin: 0 auto;
border-radius: 0 0 30px 30px;
}
.fa-times {
-webkit-transition: transform 400ms ease;
-moz-transition: transform 400ms ease;
-ms-transition: transform 400ms ease;
-o-transition: transform 400ms ease;
transition: transform 400ms ease;
}
.fa-times:hover {
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
.smoll {
text-align: center;
margin-bottom: 16px;
}
.btn {
min-width: 160px;
max-width: 250px;
padding: 8px 0px;
line-height: 18px;
font-weight: 600;
text-transform: uppercase;
font-size: 10px;
background: #FECD52;
border-bottom: 2px solid #D6AC40;
color: #515151;
box-shadow: none;
margin-bottom: 10px;
border-radius: 30px;
}
.btn-primary:hover {
background: #0F44D3;
-webkit-transition: background-color 0.3s;
transition: background-color 0.3s;
}
.btn-default {
background: #E8E8E8;
    border: 0;
    border-bottom: 2px solid #C1C1C1;
}
.btn-close {
margin: 0;
padding: 0.8em 1em;
margin-top: 10px;
min-width: 42px;
margin-left: 10px;
background: #B0B0B0 url(../image/close.png) no-repeat center center;
height: 27px;
}
.btn-close:hover {
background: #4EB1DB url(../image/close.png) no-repeat center center;
}
input[type=button].btn {
width: 250px;
}

#button-filter.btn-default {
background: transparent;
min-width: 127px;
margin: 0;
line-height: 10px;
color: #444;
margin-top: 10px;
border: 1px solid #CCC;
}
#button-filter:hover.btn-default {
background: #597AB2;
color: #fff;
border-color: #597AB2;
}
#button-filter.btn-bor {
background: #ccc;
border:2px solid #000;
min-width: 127px;
}
.btn-center {
margin: 0 auto;
display: block;
}
.href {
border-bottom: 1px solid #C6C6C6;
}
p.info {
color: #aaa;
margin-top: 20px;
text-align: left;
display: block;
}
.prinfo {
text-align: left;
width: 64%;
float: left;
padding-left: 10px;
}
.pblock .img {
float: left;
}

.content-info {
position: absolute;
bottom: 18px;
left: 19px;
text-align: left;
}
.content-name {
font-weight: 700;
text-transform: uppercase;
font-size: 14px;
padding: 6px 10px;
display: block;
background-color: #597AB2;
color: #FFF;
}
.content-label {
text-transform: uppercase;
}
.content-info a {
color:#000;
}
.total-cat {
border-left: 1px solid #FFF;
padding-left: 9px;
margin-left: 5px;
}
.info-left h1 {
font-size: 16px;
font-weight: 800;
margin: 0;
line-height: 25px;
}
.product-info hr {
margin-top: 6px;
}
hr.tophr {
margin-bottom:0;
}
h3.product-info {
font-size: 10px;
text-transform: uppercase;
font-weight: 600;
}
.instock:before {
content: "";
border-radius: 20px;
border: 5px solid #26cdb3;
background: #26cdb3;
display: inline-block;
margin: 0 3px;
}
.outstock:before {
content: "";
border-radius: 20px;
border: 5px solid #ff5961;
background: #26cdb3;
display: inline-block;
margin: 0 3px;
}      
.pstock {
color: #b1b1b1;
}
.model {
text-transform: uppercase;
font-size: 10px;
color: #B9B9B9;
}
.manu {
border: 1px solid #597AB2;
padding: 1px 12px;
margin-top: 14px;
}
.mtop {
margin-top: 12px;
}
#tab-specification .table>thead>tr>td {
border:0;
}
.info-right {
text-align: right;
list-style: none;
border-left: 1px solid #EDEDED;
padding-left: 15px;
}
.info-right a {
border:0;
}
#content .info-right h2:after {
content:none;
background: none;
width: 0;
}
#content .info-right h2 {
text-align: right;
margin: 0;
font-weight: 500;
text-transform: uppercase;
font-size: 31px;
display: block;
background-color: transparent;
padding: 0px;
color: #2DBEEE;
}

.minprice {
border: 1px solid #CCC;
display: inline-block;
width: 26px;
height: 30px;
vertical-align: top;
cursor: pointer;
}
.minprice i {
margin-right: 5px;
line-height: 30px;
color: #777;
}
.navbar-ex1-collapse {
opacity: 1;
}
#menu.open .navbar-ex1-collapse {
opacity: 0;
}
#menu.open .navbar-ex1-collapse:hover {
opacity: 1;
background: #fff;
}
.promo-block {
border-bottom:1px solid #eee;
overflow:hidden
}
.promo-block.single {
border-top:1px solid #eee;
margin-bottom:30px
}
.promo-block .divider-right {
position:relative
}
.promo-block .divider-right:after {
display:block;
content:" ";
position:absolute;
top:25px;
bottom:25px;
width:1px;
right:0;
font-size:0;
line-height:0;
border-left:1px solid #e7e7e7
}
.promo-block .divider-right:last-child:after {
border-left:none
}
.promo-block .item {
display:table;
width:100%;
padding:2em 1.2em;
color:#2b2b2b
}
.col-sm-4 .promo-block .item {
padding: 1em 1.0em;
}
.promo-block .item:hover {
text-decoration:none
}
.promo-block.small .item {
padding:2.9em 2.2em;
min-height:8.5em
}
.promo-block .icon {
display: table-cell;
vertical-align: middle;
padding-right: 55px;
}
.promo-block.small .icon {
font-size:2.8em;
line-height:1em;
width:62px;
padding:.2em;
margin-right:0
}
.promo-block .promo1 {
width: 49px;
height: 50px;
background: url(../image/promo1.png) no-repeat;
}
.promo-block .promo2 {
width: 49px;
height: 50px;
background: url(../image/promo2.png) no-repeat;
}
.promo-block .promo3 {
width: 49px;
height: 50px;
background: url(../image/promo3.png) no-repeat;
}
.promo-block .item .text {
display:table-cell;
vertical-align:middle;
text-align:left
}
.promo-block .title {
display: block;
text-transform: uppercase;
font-weight: 500;
}
.promo-block.small .title {
display: block;
text-transform: uppercase;
font-weight: 500;
}
.promo-block .description {
display:block;
color:#5b5b5b;
font-style: italic;
}
.promo-block.vertical.small {
padding:1.5em 0 2em;
margin-bottom:20px;
border:none
}
.promo-block.vertical.small>div {
padding:0!important;
border-bottom:1px solid #e7e7e7
}
.promo-block.vertical.small>div:last-child {
border:none
}
.promo-block.vertical.small .item {
margin:1em 0;
padding:0;
min-height:4.2em
}
.imagecat:before {
content: " ";
position: absolute;
top: 5px;
left: 5px;
bottom: 5px;
right: 5px;
border: 2px solid transparent;
z-index: 2;
-webkit-transform: translateZ(0);
transform: translateZ(0);
transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
-ms-transition: all 0.3s ease 0s;
opacity: 0;
}
.imagecat:hover:before {
opacity: 1;
top: 43%;
left: 36%;
bottom: 46%;
right: 36%;
border: 2px solid rgb(255, 255, 255);
}
.imagecat img {
width: 100%;
}
.imagecat:hover .overbl {
width: 100%;
height: 100%;
background-color: rgba(89, 122, 178, 0.9);
position: absolute;
top: 0;
}
.imagecat:hover .content-info {
opacity:0;
}
.topcaturl {
position: absolute;
top: 50%;
left: 50%;
color: #FFF;
text-transform: uppercase;
font-size: 14px;
margin-left: -39px;
margin-top: -15px;
font-weight: 800;
opacity:0;
}
.imagecat:hover .topcaturl {
opacity:1;
}
.text-danger .fa {
font-size: 9px;
margin-right: 5px;
}
.owl-carousel .owl-wrapper-outer {
border: 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
.panel-account {
text-align: left;
padding: 0 30px;
font-weight: 900;
text-transform: uppercase;
font-size: 10px;
list-style-type: square;
}
.button-filter {
display: none;
}
.scrollup {
background-color: transparent;
width: 65px;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 8;
opacity: 0.9;
cursor:pointer;
display: none;
}
.scrollup:hover {
background-color: #E9E9E9;
}
.sup{
width: 42px;
height: 109px;
background: url(../image/scroll.png);
bottom: 10px;
position: fixed;
left: 10px;
}
h3.succes {
text-transform: uppercase;
color: #333;
font-size: 12px;
}
.left {
text-align: left;
}
.right {
text-align: right;
display: block;
}
.icontime {
width: 87px;
height: 87px;
background: url(../image/time.png);
margin: 0 auto;
margin-top: 25px;
}
.outstock_canvas {
width: 100%;
height: 100%;
position: absolute;
cursor:help;
}
.popover {
border: 0;
border-radius: 0px;
}
.popover.top> .arrow {
border-top-color: #fff;
}
.popover.right > .arrow {
border-right-color: #e3e3e3;
}
.popover.left > .arrow {
border-left-color: #e3e3e3;
}
.tooltip {
position: fixed;
z-index: 1070;
display: block;
font-size: 14px;
font-weight: normal;
line-height: 1.4;
visibility: visible;
filter: alpha(opacity=0);
opacity: 0;
}
.tooltip.in {
filter: alpha(opacity=95);
opacity: .95;
}
.tooltip.top {
padding: 5px 0;
margin-top: -3px;
}
.tooltip.right {
padding: 0 5px;
margin-left: 3px;
}
.tooltip.bottom {
padding: 5px 0;
margin-top: 3px;
}
.tooltip.left {
padding: 0 5px;
margin-left: -3px;
}
.tooltip-inner {
max-width: 200px;
padding: 3px 8px;
color: #333;
text-align: center;
text-decoration: none;
background-color: #fff;
border-radius: 0px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
padding: 9px 14px;
}
.tooltip-arrow {
position: absolute;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}
.tooltip.top .tooltip-arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-width: 5px 5px 0;
border-top-color: #fff;
}
.tooltip.top-left .tooltip-arrow {
right: 5px;
bottom: 0;
margin-bottom: -5px;
border-width: 5px 5px 0;
border-top-color: #fff;
}
.tooltip.top-right .tooltip-arrow {
bottom: 0;
left: 5px;
margin-bottom: -5px;
border-width: 5px 5px 0;
border-top-color: #fff;
}
.tooltip.right .tooltip-arrow {
top: 50%;
left: 0;
margin-top: -5px;
border-width: 5px 5px 5px 0;
border-right-color: #fff;
}
.tooltip.left .tooltip-arrow {
top: 50%;
right: 0;
margin-top: -5px;
border-width: 5px 0 5px 5px;
border-left-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
top: 0;
left: 50%;
margin-left: -5px;
border-width: 0 5px 5px;
border-bottom-color: #fff;
}
.tooltip.bottom-left .tooltip-arrow {
top: 0;
right: 5px;
margin-top: -5px;
border-width: 0 5px 5px;
border-bottom-color: #fff;
}
.tooltip.bottom-right .tooltip-arrow {
top: 0;
left: 5px;
margin-top: -5px;
border-width: 0 5px 5px;
border-bottom-color: #fff;
}
.block-promo {
background: #EF1E57;
background-size: cover;
overflow: hidden;
line-height: 35px;
height: 60px;
}

.block-content a:hover {
background: rgba(0,0,0,0.1);
}

.block-promo .promo-text {
max-width: 1103px;
margin: 0 auto;
position: relative;
text-align: center;
font-size: 10px;
color: #fff;
padding: 10px 0;
text-transform: uppercase;
display: block;
}

.block-content .close-icon {
height: 30px;
width: 30px;
display: block;
position: absolute;
top: 13px;
right: 30px;
stroke: #ссс;
cursor: pointer;
opacity: 1;
-webkit-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
-moz-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
-o-transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
transition: 0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
}
.block-content .close-icon .circle, .block-content .close-icon .progress  {
opacity:0;
}
.block-content:hover .close-icon .circle {
opacity:0.05;
}
.block-content:hover .progress {
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;
}
.block-content .close-icon .progress {
stroke-dasharray:0,120;
}
.block-content:hover .close-icon .progress {
stroke-dasharray:25,120;
}
.block-content:hover  .close-icon .progress {
opacity:1;
}
.block-content .close-icon:hover .progress {
stroke-dasharray:90,120;
-webkit-transition:0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
-moz-transition:0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
-o-transition:0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
transition:0.5s cubic-bezier(0.165, 0.775, 0.145, 1.020);
}
.block-content .close-icon:active .progress {
opacity:1;
stroke-dasharray:120,120;
}
/*effects*/
@media screen and (max-width: 1280px) {
.block-razor a span {
right:50px;
}
.block-razor .close-icon,
.block-razor:hover .close-icon {
opacity:1;
right:15px;
}
}
@-webkit-keyframes fade-in {from {-webkit-transform:scale(1.2); opacity:0;}}
@-moz-keyframes fade-in {from {-moz-transform:scale(1.2); opacity:0;}}
@-o-keyframes fade-in {from {-o-transform:scale(1.2); opacity:0;}}
@keyframes fade-in {from {transform:scale(1.2); opacity:0;}}
.prevnext {
position: fixed;
width: 105px;
top: 40%;
-webkit-transition: all 0.2s ease-in; 
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
z-index:9;
}
.next-product {
right: -75px;
width: 105px;
text-align: right;
background: #FECD52 url(../image/next.png) 12px center no-repeat;
border-radius: 30px;
border-left: 2px solid #D6AC40;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}
.next-product:hover {
right: 0px;
}
.prev-product {
left: -75px;
text-align: left;
background: #FECD52 url(../image/prev.png) 85px center no-repeat;
border-radius: 30px;
border-right: 2px solid #D6AC40;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}
.prev-product:hover {
left: 0px;
}

.panel-default {
border: 0;
box-shadow: none;
position: relative;
}
.panel-default>.panel-heading {
color: #333;
border-color: #ddd;
border-radius: 0;
font-weight: 700;
text-transform: uppercase;
background: none;
padding-left: 12px;
}
.box-category ul, .list-item {
list-style: none;
margin-bottom: 20px;
margin-top: -5px;
}

.b-share_theme_counter .b-share_type_small .b-share__link {
-webkit-border-radius: 0px !important;
border-radius: 0px !important;
}
#review {
margin-top: 25px;
padding: 0 15px;
}
.empty {
border-bottom: 1px dashed #ccc;
border-top: 1px dashed #ccc;
padding-top: 20px;
padding-bottom: 20px;
font-size: 25px;
text-transform: uppercase;
font-weight: 800;
color: #E6E6E6;
text-align: center;
}
.contact-info {
position: absolute;
top: 30px;
right: 30px;
background-color: #FFF;
padding: 40px 10px;
}
.relative {
position: relative;
}

span.customSelect {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
-khtml-border-radius: 0px;
border-radius: 0px;
font-size:12px;
border-bottom: 1px dotted #9A9A9A;
    background-color: transparent;
color: #656565;
text-decoration: none;
white-space: nowrap;
text-align:left;
}
span.customSelect option {font-size:12px !important;}
span.customSelect.changed {
background-color: #f0dea4;
}
.customSelectOpen {
-moz-box-shadow: 0 0 3px #bbb;
-webkit-box-shadow: 0 0 3px #bbb; 
box-shadow: 0 0 3px #bbb;
}
.customSelectInner {
background:url('../image/select-arrow-down.gif') no-repeat center right;
width:100% !important;
}
.customSelectOpen .customSelectInner{ background:url('../image/select-arrow-up.gif') no-repeat center right; }
#input-sort , #input-limit, #product .form-group select { cursor:pointer;}

.filters-group {
padding: 0 25px;
}
.filter-heading {
color: #333333;
font-size: 10px;
font-weight: 700;
cursor: pointer;
}
.filter-heading:after {
content: "\f106";
font-family: FontAwesome;
float: right;
}
.filter-heading.collapsed:after {
content: "\f107";
float: right;
}
.well {
border: 0;
background: #FFF;
border-radius: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.topcanvas.fix .over, .topcanvas2.fix .over {
content: '';
background-color: rgba(231, 231, 231, 0.7);
z-index: 9;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
opacity: 1;
-moz-transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
-o-transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
-webkit-transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
background-color: #FECD52;
    border-color: #DFB242;
    color: #444;
    outline: none;
}
.btn-rad {
height: 34px;
width: 34px;
line-height: 10px;
color: #A9A9A9;
background: #EDEDED;
border-radius: 30px;
border-bottom: 2px solid #D4D4D4;
}
.modal-title {
text-transform: uppercase;
font-weight: 700;
}
.modal-content {
border-radius:0;
}
.agree b {
border-bottom: 1px dotted;
}
ul.side-viewed li.metro {
  position: absolute;
  padding: 0;
  height: 150px;
  text-align: center;
  background-color: #CCC;
  -webkit-transition: top .3s;
transition: top .3s;
top: 100%;
list-style: none;
}
ul.side-viewed li.metro.half { width: 50%; }

ul.side-viewed li a {
  display: block;
  font-size: 12px;
  padding: 0;
  margin: 0;
  height: inherit;
  line-height: inherit;
}
 .side-viewed li {
 list-style: none;
 }
	

.nicescroll-rails {
display:none !important;
}
.nicescroll-rails:hover {
display:block !important;
}

.top-curlang {
display: inline-block;
display: inline-block;
    border-left: 1px solid #ccc;
    margin-left: 17px;
}
#callme {
background: #FFF url(../image/detl.jpg) no-repeat 0px 381px;
}
.spanel {
width: 300px;
position: fixed;
top:0;
bottom:0;
background: #fff;
overflow-x: hidden;
z-index:9999;
-webkit-transition: all 700ms ease;
-moz-transition: all 700ms ease;
-ms-transition: all 700ms ease;
-o-transition: all 700ms ease;
transition: all 700ms ease;
}
.spanel.open-left {
left: -300px;
visibility: hidden;
}
.spanel.open-left.open {
left: 0px;
visibility: visible;
}
.spanel.open-right {
right: -300px;
}
.spanel.open-right.open {
right: 0px;
}
#block-close {
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.65);
position: fixed;
opacity:0;
z-index:99;
top:0;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
transition: all 0.5s linear;
visibility:hidden;
}
html.open #block-close {
visibility:visible;
opacity:1;
}

/*quick_view*/
.mfp-content {
max-width: 920px;
}
#quick {
max-height: 557px;
    overflow: hidden;
    min-height: 574px;
    width: 100%;
    overflow: auto;
    background: #fff;
}
#quick .mfp-close, #test-modal .mfp-close {
background: #fff;
top: 0px;
right: -44px;
opacity: 1;
color:#333 !important;
border-radius: 0 30px 30px 0;
}
#scrolli {
margin: 20px 30px 20px 425px;
    min-height: 534px;
    position: relative;
}
.white-popup-block .row {
overflow: hidden;
}
#quick .prevnext {
display:none;
}
#quick .info-right h2 {
text-align: right;
margin: 0;
font-weight: 100;
text-transform: uppercase;
font-size: 31px;
display: block;
background-color: transparent;
padding: 0px;
color: #525252;
}
#quick .info-right h2:after {
content: '';
background: none;
width: 0px;
margin: 0;
}
.size-table {
border: 1px solid #d6d3cf;
border-radius: 3px;
padding: 4px 11px;
text-transform: uppercase;
cursor: pointer;
margin: 10px 0;
font-size: 10px;
width: 148px;
display: block;
}
.size-table:hover {
    border: 1px solid #597AB2;
}
.quickleft {
position: fixed;
width: 410px;
padding-left: 0;
}
.scrollhide {
position: absolute;
bottom: -20px;
right: -30px;
width: 29px;
height: 75px;
background: #FFFFFF;
z-index: 999;
}
/*magnific*/
.white-popup-block {
background: #FFF;
padding: 20px 30px;
text-align: left;
max-width: 650px;
margin: 40px auto;
position: relative;
}
#test-modal .table>tbody>tr>td {
border:0;
}
.strong {
font-weight: 800;
text-transform: uppercase;
font-size: 10px;
}
#test-modal tr:nth-child(odd) {
background-color: #f1f1f1;
}
.white-popup-block td.hover {
background:#D5EAF2;
}
.white-popup-block td:hover {
background: #597AB2;
color: #FFF;
}
#test-modal tr:hover { background: #D5EAF2; }
.number {
padding: 0px 6px;
color: #000;
line-height: 1.5;
float: left;
margin-right: 5px;
font-weight: 800;
border: 1px solid #E0E0E0;
}
.num-text {
text-transform: uppercase;
font-weight: 600;
padding-left: 26px;
}
/*viewed*/
.allremove, .toggle {
padding: 3px 17px;
color: #444;
float: right;
border-radius: 30px;
margin: 13px 0px 0px 10px;
border: 1px solid #ddd;
}
.remove {
position: absolute;
right: 21px;
top: 3px;
z-index: 9;
}
.over {
overflow:hidden;
}
/*arrow*/
i.arrowscroll {
position: absolute;
bottom: 17px;
right: 12px;
-webkit-animation: scroll 1s infinite normal ease-out;
animation: scroll 1s infinite normal ease-out;
cursor: pointer;
color: #333;
z-index: 999;
font-size: 17px;
}
@-webkit-keyframes scroll {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes scroll {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@-webkit-keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 8px;
    width: 8px;
    opacity: 0.35;
    position: relative;
	top: 3px;
    left: 3px;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12px;
    margin-top: -12px;
    opacity: 0;
  }
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio], .simplecheckout-block input[type=checkbox] {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
bottom: 2px;
height: 16px;
width: 16px;
-webkit-transition: all 0.15s ease-out 0s;
-moz-transition: all 0.15s ease-out 0s;
transition: all 0.15s ease-out 0s;
border: none;
color: #fff;
cursor: pointer;
display: inline-block;
outline: none;
z-index: 5;
border: 1px solid #ccc;
position: absolute;
border-radius: 3px;
}
.checkbox input[type=checkbox]:hover, .checkbox-inline input[type=checkbox]:hover, .radio input[type=radio]:hover, .radio-inline input[type=radio]:hover, .simplecheckout-block input[type=checkbox]:hover  {
border: 1px solid #444;
}
.checkbox input[type=checkbox]:checked::before, .checkbox-inline input[type=checkbox]:checked::before,
.simplecheckout-block input[type=checkbox]:checked::before,
.radio input[type=radio]:checked::before, .radio-inline input[type=radio]:checked::before {
height: 8px;
width: 8px;
position: absolute;
content: '';
display: inline-block;
font-size: 9px;
text-align: center;
line-height: 14px;
background: #4D4D4D;
top: 3px;
left: 3px;
}

.checkbox input[type=checkbox]:checked::after, .checkbox-inline input[type=checkbox]:checked::after,
.simplecheckout-block input[type=checkbox]:checked::after,
.radio input[type=radio]:checked::after, .radio-inline input[type=radio]:checked::after {
-webkit-animation: click-wave 0.65s;
-moz-animation: click-wave 0.65s;
animation: click-wave 0.65s;
background: #444;
content: '';
display: block;
position: relative;
z-index: 100;
}

.radio input[type=radio], .radio-inline input[type=radio], .radio input[type=radio]::before, .radio-inline input[type=radio]::before, .radio input[type=radio]::after, .radio-inline input[type=radio]::after {
border-radius: 50%;
}
.simplecheckout-block input[type=checkbox] {
position: absolute;
margin-top: 4px\9;
margin-left: -20px;
}

/*симпла*/
.simplecheckout-block #comment {
background-color: #F1F1F1;
border: 0;
padding: 10px 10px;
}
.simplecheckout-block {
position: relative;
}
.simplecheckout-customer-same-address label {
margin-left: 20px !important;
}
.quantity .btn.btn-primary {
min-width: 15px;
padding: 8px 8px;
}
.quantity .btn.btn-danger {
min-width: 15px;
padding: 8px 7px;
border-left: 3px solid #F9F9F9;
}
.simplecheckout-cart .quantity {
display: table-cell;
}
.simple-content .remove {
position: static;
}
/*конец симпла*/
.zoomContainer {
position: static !important;
height: 0 !important;
}
@media (max-width: 992px) {
.zoomContainer {
display: none;
}
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
outline: none !important;
}


div.fancy-select {
position: relative;
text-transform: uppercase;
font-size: 10px;
color: #444;
}
#product div.fancy-select {
margin: 0;
}

div.fancy-select.disabled {
opacity: 0.5;
}

div.fancy-select div.trigger {

cursor: pointer;
padding: 8px 24px 8px 9px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
border: 1px solid #D6D3CF;
color: #4B5468;
transition: all 240ms ease-out;
text-align: left;
-webkit-transition: all 240ms ease-out;
-moz-transition: all 240ms ease-out;
-ms-transition: all 240ms ease-out;
-o-transition: all 240ms ease-out;
border-radius: 6px;
}

div.fancy-select div.trigger:after {
content: "";
display: block;
position: absolute;
width: 0;
height: 0;
border: 5px solid transparent;
border-top-color: #4B5468;
top: 16px;
right: 9px;
}

div.fancy-select div.trigger.open {
background: #597AB2;
border: 1px solid;
color: #fff;
}

div.fancy-select div.trigger.open:after {
border-top-color: #fff;
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg));
top: 10px;
}

div.fancy-select ul.options {
list-style: none;
margin: 0;
position: absolute;
top: 40px;
left: 0;
visibility: hidden;
opacity: 0;
z-index: 50;
width:100%;
max-height: 200px;
overflow: auto;
background: #fff;
border-top: 1px solid #ccc;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
padding: 0;
text-align: left;
transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}


div.fancy-select ul.options.open {
visibility: visible;
top: 50px;
opacity: 1;
transition: opacity 300ms ease-out, top 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
top: auto;
bottom: 40px;
transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
top: auto;
bottom: 50px;

transition: opacity 300ms ease-out, bottom 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
padding: 5px 12px;
color: #444;
cursor: pointer;
white-space: nowrap;

transition: all 150ms ease-out;
-webkit-transition: all 150ms ease-out;
-moz-transition: all 150ms ease-out;
-ms-transition: all 150ms ease-out;
-o-transition: all 150ms ease-out;
}
div.fancy-select ul.options li:hover {
background: #f1f1f1;
}
.quantity {
display: inline-block;
vertical-align: top;
width: 55px;
margin-right: 5px;
}

.quantity a {
height: 17px;
width: 20px;
border-width: 1px 1px 0 0;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
outline: 0;
float: right;
text-align: center;
line-height: 17px;
}
.quantity .minus {
border-width: 1px 1px 1px 0;
line-height: 14px;
}
.callmebtn {
width: 160px;
height: 125px;
position: fixed;
bottom: 0;
right: 22px;
z-index: 1;
}
.callbtn {
width: 132px;
height: 30px;
top: 0px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
position: absolute;
z-index: 1;
background: #2DBEEE;
outline: none;
cursor: pointer;
pointer-events: all;
color: #fff;
text-transform: uppercase;
font-size: 10px;
padding: 4px 14px;
border-radius: 30px;
}
.callfon {
width: 120px;
height: 28px;
top: 0;
right: 0;
position: absolute;
bottom: 0;
left: 0;
margin: auto;
z-index: 0;
background: #597AB2;
opacity: 0;
-webkit-box-shadow: 0 0 0 0 #597AB2 0 0 0 0 #000000;
-moz-box-shadow: 0 0 0 0 #597AB2 0 0 0 0 #000000;
box-shadow: 0 0 0 0 #597AB2 0 0 0 0 #000000;
-webkit-animation: shadow-animation 4s ease-in-out 1s infinite;
-moz-animation: shadow-animation 4s ease-in-out 1s infinite;
-o-animation: shadow-animation 4s ease-in-out 1s infinite;
animation: shadow-animation 4s ease-in-out 1s infinite;
border-radius: 30px;
}
.toolcall {
width: 0;
height: 30px;
top: 0;
right: 115px;
position: absolute;
bottom: 0;
margin: auto;
overflow: hidden;
background: rgba(244, 244, 244, 0.8);
font-size: 14px;
line-height: 12px;
text-align: center;
white-space: nowrap;
padding: 8px;
color: #000000;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.toolhover:hover .toolcall {
width: 194px;
border: 1px solid #ccc;
-webkit-animation: 0;
-moz-animation: 0;
-o-animation: 0;
animation: 0;
right: 150px;
border-radius: 30px;
}
.callicon {
width: 17px;
height: 17px;
top: 0;
position: absolute;
right: 31px;
bottom: 0;
margin: auto;
z-index: 2;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
-webkit-transform-origin: center;
-moz-transform-origin: center;
-o-transform-origin: center;
transform-origin: center;
-webkit-transition: -webkit-transform .2s ease-in-out;
-moz-transition: -moz-transform .2s ease-in-out;
-o-transition: -o-transform .2s ease-in-out;
transition: transform .2s ease-in-out;
	}
.callicon:before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
background: url(../image/phonew.png) center/cover no-repeat;
-webkit-animation: phone-icon-animation 2s ease-in-out 5s infinite;
-moz-animation: phone-icon-animation 2s ease-in-out 5s infinite;
-o-animation: phone-icon-animation 2s ease-in-out 5s infinite;
animation: phone-icon-animation 7s ease-in-out 0s infinite;
}
.callbtn:hover ~ .callicon {
-webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
-o-transform: rotate(20deg);
transform: rotate(20deg);
-webkit-animation: 0;
-moz-animation: 0;
-o-animation: 0;
animation: 0;
}

@-webkit-keyframes phone-icon-animation {
	0%, 100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	6%, 12%, 18%, 24%, 30% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(0deg);
	}
	3%, 9%, 15%, 21%, 27% {
		-webkit-transform: rotate(10deg);
		transform: rotate(0deg);
	}
	33% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-moz-keyframes phone-icon-animation {
	0%, 100% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	6%, 12%, 18%, 24%, 30% {
		-moz-transform: rotate(-10deg);
		transform: rotate(0deg);
	}
	3%, 9%, 15%, 21%, 27% {
		-moz-transform: rotate(10deg);
		transform: rotate(0deg);
	}
	33% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-o-keyframes phone-icon-animation {
	0%, 100% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	6%, 12%, 18%, 24%, 30% {
		-o-transform: rotate(-10deg);
		transform: rotate(0deg);
	}
	3%, 9%, 15%, 21%, 27% {
		-o-transform: rotate(10deg);
		transform: rotate(0deg);
	}
	33% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes phone-icon-animation {
	0%, 100% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	6%, 12%, 18%, 24%, 30% {
		-moz-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	3%, 9%, 15%, 21%, 27% {
		-moz-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	33% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-webkit-keyframes shadow-animation {
	0% {
		opacity: 0;
		-webkit-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	50% {
		opacity: 1;
		-webkit-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	83% {
		opacity: 0;
		-webkit-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	100% {
		opacity: 0;
		-webkit-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
}

@-moz-keyframes shadow-animation {
	0% {
		opacity: 0;
		-moz-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	50% {
		opacity: 1;
		-moz-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	83% {
		opacity: 0;
		-moz-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	100% {
		opacity: 0;
		-moz-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
}

@-o-keyframes shadow-animation {
	0% {
		opacity: 0;
		-o-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	50% {
		opacity: 1;
		-o-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	83% {
		opacity: 0;
		-o-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	100% {
		opacity: 0;
		-o-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
}

@keyframes shadow-animation {
	0% {
		opacity: 0;
		-webkit-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		-moz-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		-o-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	50% {
		opacity: 1;
		-webkit-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		-moz-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		-o-box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
		box-shadow: 0 0 0 0 #2DBEEE, 0 0 0 0 #000000;
	}
	83% {
		opacity: 0;
		-webkit-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		-moz-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		-o-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
	}
	100% {
		opacity: 0;
		-webkit-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		-moz-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		-o-box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
		box-shadow: 0 0 1px 35px #2DBEEE, 0 2px 9px 33px #000000;
	}
}

.headcat {
position: relative;
}
.headcat:after {
content: "+";
position: absolute;
right: 9px;
top: 7px;
font-size: 17px;
font-weight: 100;
z-index: -1;
}
.headcat.open:after {
transform: rotate(45deg);
}

#magazincategory ul {
list-style:none;
padding-left:0;
margin-top: 4px;
}
#magazincategory li {
padding: 6px 0px;
}
#magazincategory .list-group-item {
cursor:pointer;
}

a.list-group-item:focus, a.list-group-item:hover, list-group-item:focus, list-group-item:hover {
color: #555;
text-decoration: none;
background-color: none;
}
.totalcat {
padding: 2px 10px;
color: #8A8A8A;
border-radius: 30px;
margin-left: 4px;
border: 1px solid #eee;
display:inline;
}

#magazincategory.list-group a {
padding: 0px 8px 0px 0px;
display: block;
cursor:pointer;
}

@media (max-width: 478px) {
html.open #block-close {
visibility:hidden;
display:none;
}
.spanel.open-right.open  {
-webkit-box-shadow: -8px 0px 10px 0 rgba(0,0,0,0.25);
-moz-box-shadow: -8px 0px 10px 0 rgba(0,0,0,0.25);
box-shadow: -8px 0px 10px 0 rgba(0,0,0,0.25);
}
#cart .fa-shopping-cart, #callme {
background: #FFF;
}
}
@media (max-width: 992px) {
div.fancy-select {
margin: 15px 0;
}
.width75 {
width:75%;
float:left;
margin-bottom:10px;
}
.width25 {
width:25%;
float:left;
margin-bottom:10px;
}
.sub-bl {
width: 100%;
}
.topfooter #fsubscription {
background: #2DBEEE;
}
#quick .mfp-close, #test-modal .mfp-close {
right: 0;
top: -44px;
}
}
.cartfloat {
float:right;
}
.procart {
min-width: 270px;
margin-top: 12px;
color: #454545;
background: #F1F1F1;
border-bottom: 2px solid #ccc;
}
@media (max-width: 767px) {
html.open, html.open body  {
overflow: hidden;
position: relative;
height:100%;
width: 100%;
top:0 !important;
padding-right: 0px;
}
.topm ul {
text-align: center;
}
.owl-item img.img-news {
width: 100%;
}
.col {
height: 49px;
margin-left: 0;
border-right: 1px solid #E2E2E2;
}
#mobmenu, #searchid {
width: 55px;
border-right: 1px solid #E2E2E2;
margin: 0;
}
#mobmenu p{
width: 100%;
height: 49px;
background: url(../image/menu2.png) no-repeat center;
color: #fff;
font-size: 0;
margin: 0;
}
#searchid {
background: url(../image/search2.png) no-repeat center;
color: #fff;
font-size: 0;
}
.product-list .product-thumb .caption {
min-height: 0;
margin-left: 0;
padding: 0 10px;
}
.product-grid .product-thumb .caption {
min-height: 84px;
}
.white.fix .headfix {
position: fixed;
width: 100%;
z-index: 99;
background: #FFF;
top: 0;
border-bottom: 1px solid #E2E2E2;
}
.headfix {
padding: 0px;
border-top: 1px solid #E2E2E2;
background: #FFF;
}

#carturl {
position: absolute;
height: 50px;
width: 50px;
background: transparent;
right: 0;
top: 0;
z-index: 9999;
color: #597AB2;
font-size: 0;
}
.quicklogin {
height: 41px;
width: 55px;
background: url(../image/login2.png) no-repeat center;
color: #fff;
font-size: 0;
}
#cart-total {
width: 50px;
height: 50px;
text-align: right;
z-index: 99;
background: url(../image/cart2.png) no-repeat center;
border-radius: 0;
color: #2DBEEE;
border: 0;
border-left: 1px solid #E2E2E2;
}
#carturl .hidecart {
display:none;
}
.menutext #carturl .hidecart {
display:block;
}
.mobcall {
display: inline-block ;
}
.product-thumb .button-group button, .product-thumb .button-group button + button {
width: 33.33%;
}
#menu {
border-radius: 4px;
}
#menu div.dropdown-inner > ul.list-unstyled {
display: block;
}
#menu div.dropdown-menu {
margin-left: 0 !important;
padding-bottom: 10px;
background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-inner {
display: block;
}
#menu .dropdown-inner a {
width: 100%;
color: #fff;
}
#menu .dropdown-menu a:hover,
#menu .dropdown-menu ul li a:hover {
background: rgba(0, 0, 0, 0.1);
}
#menu .see-all {
margin-top: 0;
border: none;
border-radius: 0;
color: #fff;
}
.head-block {
text-align: left;
}
/*textmenu*/
.menutext.head-block {
text-align: center;
}
.menutext #mobmenu p, .menutext #searchid, .menutext .quicklogin {
color: #000;
font-size: 10px;
margin: 0;
line-height: 48px;
text-transform: uppercase;
background: none;
}
.menutext .mobcall {
display: none;
}
.menutext #cart-total {
width: auto !important;
height: auto !important;
background: #FECD52 !important;
margin-top: 14px;
position: initial !important;
margin-left: 10px;
color: #333 !important;
border-radius: 30px;
border: 0;
border-bottom: 1px solid #C19833;
}
.menutext #carturl {
position: inherit;
height: 50px;
width: 50px;
background: transparent;
color: #000;
font-size: 10px;
line-height: 48px;
}
.menutext .cartfloat {
float:none;
border: 0;
}
.white.fix .menutext #carturl {
position: initial;
color:#000;
}
.white.fix .menutext #carturl span {
display:block;
}

/*end textmenu*/
.info-right {
text-align: left;
border-left: 0;
width: 100%;
padding: 0;
float: left !important;
}
.info-left {
margin-top: 25px;
}
#content .info-right h2 {
text-align: left;
}
.empty {
font-size: 14px;
}
.top-curlang .cur {
position: absolute;
 top: -87px; 
 right: 45px;
}
.top-curlang .lang {
position: absolute;
top: -87px; 
right: 5px;
}

.prev-product {
bottom: 0;
top: initial;
height: 39px;
width: 50%;
left: 0;
border-right: 1px solid #959595;
background: rgba(232, 232, 232, 0.8) url(../image/prev.png) center center no-repeat;
border-radius: 0;
}
.next-product{
bottom: 0;
top: initial;
height: 39px;
width: 50%;
right: 0;
background: rgba(232, 232, 232, 0.8) url(../image/next.png) center center no-repeat;
border-radius: 0;
border-left: 2px solid #E9E9E9;
}
.prev-product img, .next-product img{
display:none;
}
.product-grid.col-xs-12 {
width: 50%;
}
.blokcenter, .blokright, .blokleft, .blok23 {
padding: 0 15px;
}
}
@media (min-width: 768px) {
#column-left  .product-layout .col-md-3 {
width: 100%;
}
#column-left + #content .product-layout .col-md-3 {
width: 50%;
}
#column-left + #content + #column-right .product-layout .col-md-3{
width: 100%;
}
#content + #column-right .product-layout .col-md-3{
width: 100%;
}
.white.fix {
margin-top: 50px;
}
#menu .dropdown:hover .dropdown-menu {
display: block;
}
html.open, html.open body {
overflow: hidden;
position: relative;
padding-right: 8px;
}
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}