<div class="webocreation">
<h3><?php echo $heading_title; ?></h3>

                        <div id="owl_new<?php echo $module; ?>">

                            <?php foreach ($products as $product) { ?>
                            <div class="item product-layout ">
                                <div class="product-thumb">
                                    <div class="image"><a href="<?php echo $product['href']; ?>">
                                            <span class="product-image">
                                            <img
                                                    src="<?php echo $product['thumb']; ?>"
                                                    alt="<?php echo $product['name']; ?>"
                                                    title="<?php echo $product['name']; ?>" class="img-responsive"/>
                                                </span>
                                        <span class="product-image-hover">
                                            <img
                                                    src="<?php echo $product['additional_image']; ?>"
                                                    alt="<?php echo $product['name']; ?>"
                                                    title="<?php echo $product['name']; ?>" class="img-responsive"/>
                                        </span>


                                        </a>

                                    </div>
                                    <div class="caption">
                                        <h4>
                                            <a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                                        </h4>
                                        <p><?php echo $product['description']; ?></p>
                                        <?php if ($product['rating']) { ?>
                                        <div class="rating">
                                            <?php for ($i = 1; $i <= 5; $i++) { ?>
                                            <?php if ($product['rating'] < $i) { ?>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            <?php } else { ?>
                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                            <?php } ?>
                                            <?php } ?>
                                        </div>
                                        <?php } ?>
                                        <?php if ($product['price']) { ?>
                                        <p class="price">
                                            <?php if (!$product['special']) { ?>
                                            <?php echo $product['price']; ?>
                                            <?php } else { ?>
                                            <span class="price-new"><?php echo $product['special']; ?></span> <span
                                                    class="price-old"><?php echo $product['price']; ?></span>
                                            <?php } ?>
                                            <?php if ($product['tax']) { ?>
                                            <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                                            <?php } ?>
                                        </p>
                                        <?php } ?>
                                    </div>
                                    <div class="button-group">
                                        <button type="button"
                                                onclick="cart.add('<?php echo $product['product_id']; ?>');"><i
                                                    class="fa fa-shopping-cart"></i> <span
                                                    class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip"
                                                title="<?php echo $button_wishlist; ?>"
                                                onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i
                                                    class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip"
                                                title="<?php echo $button_compare; ?>"
                                                onclick="compare.add('<?php echo $product['product_id']; ?>');"><i
                                                    class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                            <?php } ?>
                        </div>



            <script type="text/javascript">
                $('#owl_new<?php echo $module; ?>').owlCarousel({
                    items: 3,
                    autoPlay: <?php echo $webocreation_autoplay_speed_status; ?>,
                    autoplayTimeout:<?php echo $webocreation_autoplay_speed; ?>,
                    stopOnHover: true,
                    pagination: false,
                    navigation: true,
                    navigationText: ['<i class="fa fa-arrow-left fa-1x"></i>', '<i class="fa fa-arrow-right fa-1x"></i>'],
                    pagination: true,
                    rewindNav: true,
                    scrollPerPage: false
                });
            </script>
</div>

