.well.show-all {
	height: auto !important;
}

.button-show-all-items {
	display: block;
	z-index: 1;
	float: right;
	position: absolute;
	right: 0;
	margin-right: 40px;
	padding: 2px 5px;

	font-size: 11px;
}