.webocreation .product-slide{
	width:98%;
}
.webocreation .item {
	margin-right:10px;
}
.product-thumb:hover .product-image-hover img{
	opacity: 1;
	transform: translate3d(0px, 0%, 0px);
	z-index: 1;

}
.product-thumb:hover .product-image img{
	opacity: 0;
	transform: translate3d(0px, 0%, 0px);
	z-index: 1;
}
.product-thumb .product-image-hover img {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate3d(0px, 100%, 0px);-o-transform: translate3d(0px, 100%, 0px);-moz-transform: translate3d(0px, 100%, 0px);-webkit-transform: translate3d(0px, 100%, 0px);
	z-index: 0;
}
.webocreation .button-group{
	visibility: hidden;
}
.webocreation .product-thumb:hover .button-group{
	visibility: visible;
}
.webocreation .product-thumb .caption{
	min-height: 50px;
}
.webocreation .owl-wrapper-outer {
	border: none;
	border: 4px solid #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
}
.webocreation .owl-theme .owl-controls .owl-buttons div{
	margin: -45px;
}
.webocreation .owl-carousel .owl-buttons div i{
	font-size: 12px;
}

.webocreation .owl-theme .owl-controls .owl-pagination{
	display: none;
}
