<span style='color: #000' title='Frames'>   268</span><span style='color: #009' title='Memory'>  12544.00 KB</span><span style='color: #900' title='Time'>    143.63 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />