<?php if($variants){ ?>
	            <div class="related">
	              <label class="control-label"><?php echo $variant_title; ?></label>
<div>				  
	              <?php foreach($variants as $product){ ?>
	              	<a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="" /></a> 
	              <?php } ?> 
</div>				  
	            </div>
            <?php } ?>


