<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_install) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_install; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6"><?php echo $order; ?></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><?php echo $sale; ?></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><?php echo $customer; ?></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><?php echo $online; ?></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12"><?php echo $map; ?></div>
      <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12"><?php echo $chart; ?></div>
    </div>
	
	
	
	<div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3">
		<div class="tile">
			<div class="tile-heading">settings</div>
			<div class="tile-body"><a href="<?php echo $settings_link; ?>"><i class="fa fa-cog fa-fw"></i></a></div>
		</div>
	  </div>
	  <div class="col-lg-2 col-md-2 col-sm-3">
		<div class="tile">
			<div class="tile-heading">Article</div>
			<div class="tile-body"><a href="<?php echo $articles_link; ?>"><i class="fa fa-pencil fa-fw"></i></a></div>
		</div>
	  </div>
	  <div class="col-lg-2 col-md-2 col-sm-3">
		<div class="tile">
			<div class="tile-heading">Send Mail</div>
			<div class="tile-body"><a href="<?php echo $contact_link; ?>"><i class="fa fa-envelope  fa-fw"></i></a></div>
		</div>
	  </div>
	  <div class="col-lg-2 col-md-2 col-sm-3">
		<div class="tile">
			<div class="tile-heading">Products</div>
			<div class="tile-body"><a href="<?php echo $product_link; ?>"><i class="fa fa-database  fa-fw"></i></a></div>
		</div>
	  </div>
	  <div class="col-lg-2 col-md-2 col-sm-3">
		<div class="tile">
			<div class="tile-heading">Backup</div>
			<div class="tile-body"><a href="<?php echo $backup_link; ?>"><i class="fa fa-refresh fa-fw"></i></a></div>
		</div>
	  </div>	  
  	  <div class="col-lg-2 col-md-2 col-sm-3">
		<div class="tile">
			<div class="tile-heading">Shipping</div>
			<div class="tile-body"><a href="<?php echo $shipping_link; ?>"><i class="fa fa-truck fa-fw"></i></a></div>
		</div>
	  </div>    
    </div>
	
	
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-sx-12"><?php echo $activity; ?></div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-sx-12"> <?php echo $recent; ?> </div>
	
		</div>
    </div>
	<div class="row">
	<div class="col-lg-6 col-md-12 col-sx-12 col-sm-12"><?php echo $loginChart; ?>
		
    </div>
  </div>
</div>

<style>
.previeworder {
  cursor: pointer;
}
.previeworder:hover {
  font-weight: bold;
}.previeworder > span:hover {
  color: #5cb85c !important;
}
.text-left {
  line-height: 27px !important;
}
.popover {
 max-width: 700px;width:700px;}
 
 @media screen and (max-width: 640px) {
 .popover {
 max-width: 300px;width:300px;}
 
 }
 </style>
    <script>
$(function() {
$('.previeworder').popover();
});
</script>
	
	
<?php echo $footer; ?>