@charset "UTF-8";
/* CSS Document : contact social : version 2.x.x.3 : author mona  */


ul#social {
    text-align: right;
    transform: translatez(0);
    -webkit-transform: translatez(0);
    -ms-transform: translatez(0);
    margin: 0;
	padding-left: 0px;
}
ul#social li {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
	margin-top: 15px;
    list-style: none;
}
ul#social li div {
    color: #ccc;  /* THIS CHANGES THE ICON COLOUR */
	border: 1px solid #787878; /* THIS CHANGES THE BORDER COLOUR */
	width: 50px;
 	height: 50px;
 	font-size: 1.4em;
 	text-align: center;
    line-height: 44px;
 	transition: all .5s ease;
 	-webkit-border-radius: 50px;
 	-moz-border-radius: 50px;
 	border-radius: 50px;
}
ul#social li div .fa{
	line-height: 50px;
}
ul#social li div:hover {
    color: #ccc;  /* THIS CHANGES THE ICON COLOUR ON HOVER */
	border: 1px solid #787878; /* THIS CHANGES THE BORDER COLOUR ON HOVER */
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
ul#social li a {
    text-decoration: none;
}
ul#social li:first-child {
    margin-left: 0 !important;
}
footer .container .col-sm-3 {
/*	width:inherit;*/
	min-width:20%;
}

footer .container .col-sm-3:nth-child(5) {
	border-left: 1px solid #666666;
	margin-bottom:12px;
}

@media (max-width: 991px) {
	footer .container .col-sm-3:nth-child(5) {
	border-left: none !important;
	margin-bottom: initial;
}
}

@media (max-width: 478px) {
	ul#social {
	transform: scale(0.95);
}
	ul#social li {
	margin-left: 3px;	
}
}