#emailtemplate .ext-info .h4 { font-size: 12px }

#emailtemplate hr.small { margin: 7px 0px }
#emailtemplate hr.med { margin: 12px 0px }

#emailtemplate .well-md { padding: 12px 15px }

#emailtemplate .list-group-small > .list-group-item { padding-top: 6px; padding-bottom: 6px; }

#emailtemplate .buttons,
#emailtemplate .row-spacing {
	margin-top: 15px;
	margin-bottom: 15px;
}
	#emailtemplate .buttons:first-child {
		margin-top: 0
	}
	
#emailtemplate .support-text {
	margin-top: 30px;
	font-size: 12px;
	line-height: 1.2;
}
#emailtemplate .support-text p {
	font-size: 11px;
	color: #666666;
}
	#emailtemplate .support-text hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#emailtemplate .support-text h3 {
		font-size: 13px;
		margin-bottom: 5px;
	}
	
#emailtemplate .panel {
	box-shadow: none
}
	
#emailtemplate .panel-body {
	padding-top: 20px;
}
	
#emailtemplate .ajax-loading {
	text-align: center;
	padding: 60px 0
}
#emailtemplate .preview-frame iframe {
	width: 100%; 
	height: 350px; 
	border: none; 
	margin: 0 auto; 
	float: none; 
	display: block
}

#emailtemplate .shortcode-select {
	background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
	width: 100%;
}

/* LIST GROUP */ 
#emailtemplate .list-group > label.list-group-item:hover, 
#emailtemplate .list-group > label.list-group-item:focus {
    background-color: #eeeeee;
    color: #777777;
}
#emailtemplate .list-group > label.list-group-item > input[type=checkbox] {
	margin: 2px 5px 0 10px;
    vertical-align: top;
}
	
/* TABLE */
#emailtemplate .table > thead > tr > th {
	vertical-align: middle
}
#emailtemplate .table th small {
	font-weight: normal
}
#emailtemplate .table td.text-center > input[type=checkbox] {
	margin-top: 5px;
}
#emailtemplate .table > tbody > tr.selected > td {
	background-color: #FFF7ED
}

/* Reduce padding not font size */
#emailtemplate .table .btn-sm {
	font-size: 14px;
	padding: 4px 10px;
}

#emailtemplate .table-bordered > tfoot > tr > td { 
	padding-left: 2px; 
	padding-right: 2px;
    border-left: 1px solid #fff; 
    border-right: 1px solid #fff
}
#emailtemplate .table-bordered > tfoot > tr > td:first-child { border-left: 1px solid #dddddd }
#emailtemplate .table-bordered > tfoot > tr > td:last-child  { border-right: 1px solid #dddddd }
#emailtemplate .table-bordered > tfoot > tr:first-child > td  { border-top: 1px solid #dddddd }
				
/* FORM */
#emailtemplate label[for] { cursor: pointer }
		
#emailtemplate .input-width-md {
	max-width: 250px;
}
#emailtemplate .input-colorpicker .input-group-addon.preview > i {
    border-radius: 8px;
    box-shadow: 0 0 2px #c3c3c3 inset;
}

#emailtemplate .heading {
	border-bottom: 1px solid #ededed;
	margin-top: 20px;
	margin-bottom: 20px
}

/* Summernote */
#emailtemplate .note-editor {
	border-color: #ccc;
	border-radius: 4px;
}
	#emailtemplate .note-editor .note-toolbar {
		border-bottom: 1px solid #ddd;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	#emailtemplate .note-editor .note-statusbar {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	#emailtemplate .note-editor .note-statusbar .note-resizebar {
		border-top: 1px solid #e8e8e8
	}

/* INBOX */
#emailtemplate .panel-inbox {
	box-shadow: none
}
	#emailtemplate .panel-inbox .panel-heading {
		background-color: #f9f9f9;
		box-shadow: 0 -1px 3px -2px #DDD inset;
		min-height: 40px;
		overflow: hidden; 
		padding: 0 15px;
		border: 1px solid #DDD;	
	}
		#emailtemplate .panel-inbox .panel-title   { margin-top: 10px }
		#emailtemplate .panel-inbox .panel-title i { font-size: inherit; margin-right: 4px; }
			
	#emailtemplate .panel-heading-action {
		float: right
	}
	#emailtemplate .panel-heading-action i {
		cursor: pointer;
	    font-size: 22px;
	    height: 38px;
	    line-height: 22px;
	    padding: 9px 5px 7px;
	}
		#emailtemplate .panel-heading .well {
			border-bottom: none;
		    border-radius: 0;
		    border-top: none;
		    display: inline;
		    float: left;
		    margin: 0 10px 0 0;
		    min-height: 38px;
		    padding: 0 12px;
		}
		#emailtemplate .panel-heading .divider {
			background-color: #e3e3e3;
		    display: inline-block;
		    height: 34px;
		    margin: 0 6px;
		    overflow: hidden;
		    vertical-align: top;
		    width: 1px;
		}
		#emailtemplate .panel-heading-action .selected {
			cursor: default;
			color: #000
		}
		
	#emailtemplate .panel-inbox-properties {
		margin: 15px 0 7px;
		padding: 0;
	}
		#emailtemplate .panel-inbox-properties > li {
			font-size: 12px;
    		line-height: 1;
    		margin: 0 0 3px 0;
			padding: 0;   
			list-style: none;
		}
		#emailtemplate .panel-inbox-properties label {
			display: inline-block; *display:inline; zoom:1;
			min-width: 100px;
			margin-right: 7px;
			text-align: right;
			color: #b2b2b2
		}
		#emailtemplate .panel-inbox-properties span {
			color: #222222
		}
		#emailtemplate .panel-inbox-properties i {
			display: inline-block; *display:inline; zoom:1;
			font-size: 11px;
			padding: 0 1.5px 0 0.5px
		}
		
	#emailtemplate .panel-inbox .panel-inbox-buttons {
		padding: 15px 0 5px;
		text-align: right;
	}
		
	#emailtemplate .panel-inbox-meta {
		margin-bottom: 7px	
	}
		#emailtemplate .panel-inbox-meta p {
		    font-size: 11px;
		    letter-spacing: 0.5px;
			text-align: right;
			color: #888;
			margin: 0 0 4px
		}
		#emailtemplate .panel-inbox-meta p > span {
		    font-style: italic
		}
		
	#emailtemplate .panel-inbox .panel-body {
		background-color: #fff;
		border: 1px solid #DDD;
		border-top: none;
	    color: #000;
		font: 13px/1.4 Arial,Helvetica,sans-serif;
	    letter-spacing: 0;
	    text-align: left;
	    text-indent: 0;
	    text-shadow: none;
	    vertical-align: baseline;
	    word-spacing: 0;
		padding: 0;
	}
		#emailtemplate .panel-inbox iframe {
			width: 100%; 
			height: 400px; 
			border: none;
			margin: 0 auto; 
			float: none; 
			display: block;
			overflow-y: scroll;		
		}	
		
#emailtemplate .list-group-item {
	font-weight: normal
}
		
#emailtemplate .filter-templates {
    margin-bottom: 15px
}
#emailtemplate .filter-templates .radio > label {
	background-color: #a3a3a3;
    border-radius: 5px;
    color: #ffffff;
	cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-right: 4px;
    padding: 8px 10px;
    text-transform: uppercase;
}
#emailtemplate .filter-templates .radio > label:hover {
	background-color: #afafaf;
}
#emailtemplate .filter-templates .radio > label.active {
	background-color: #337ab7;
}
#emailtemplate .filter-templates .radio > label > input {
    float: left;
    margin: 0 1px 0 0; 
    vertical-align: top;
	cursor: pointer;
}
	
/* Small */
@media (max-width: 767px) {			
	#emailtemplate .form-horizontal .radio, 
	#emailtemplate .form-horizontal .checkbox, 
	#emailtemplate .form-horizontal .radio-inline, 
	#emailtemplate .form-horizontal .checkbox-inline {
		padding-top: 0;
	}
	#emailtemplate .form-horizontal .radio, 
	#emailtemplate .form-horizontal .checkbox {
		min-height: 0
	}
	#emailtemplate .form-horizontal .radio input, 
	#emailtemplate .form-horizontal .checkbox input {
		margin-top: 0;
	}
	
	#emailtemplate .form-group div[class^='col-'] + div[class^='col-']:not([class^='col-xs-']) {
		margin-top: 10px;
	}
	
	#emailtemplate .table td, 
	#emailtemplate .table th {
		padding: 8px 5px;
	}
	
	#emailtemplate .table .btn {
		font-size: 14px;
	   	padding: 3px 7px
	}
	
	#emailtemplate .fa-2x {
		font-size: 1.6em
	}			
}
	
/* Med/Large */
@media (min-width: 768px) {
	#emailtemplate .table th {
		font-size: 14px;
	}	
	#emailtemplate .table td {
		font-size: 13px;
	}
	
	#emailtemplate .panel-inbox .media-icons i {
		padding-left: 5px;
		padding-right: 5px;
	}
}
	