/* LOGIN PAGE CSS*/
.login-fullwidith{
width:100%;
height:100%;
background-size: 100% 100%;
background-image:url('../images/back6.jpg');
position:relative;
}

.login-image{
width:360px;
height:65px;
background-size: 100% 100%;
margin-bottom:50px;
background-image:url('../images/admin-logo3.png');
}

/*GLOBAL*/
.none{display:none;}
.block{display:block;}
.left{float:left;}
.right{float:right;}
.center{margin:0 auto; text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.textcenter{text-align:center;}
.caps{text-transform:uppercase;}
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed!important;}
.cpointer{cursor:pointer;}

/*COLORS*/
.white{color:#fff;}
.dark{color:#333;}
.lgrey{color:#ccc;}
.lightgrey{color:#ccc;}
.grey{color:#999;}
.grey2{color:#666;}
.green{color:#72bf66;}
.green2{color:#339933;}
.lblue{color:#0099cc;}
.yellow{color:#ffff00;}
.red{color:#ff3300;}
.lred{color:#ff9966;}
.lred2{color:#ff5a00;}

/*anchors*/
a.dark{color:#333;text-decoration:none;}
a:hover.dark{color:#0099cc;text-decoration:none;}

a.grey{color:#999; font-weight:normal;}
a.orange{color:#ff6633;}

a.whitelink{color:#fff;}

a.greylink{color:#666;}

a.clblue{color:#0099cc;}
a:hover.clblue{color:#72bf66;}


/*BUTTONS*/

.bluebtn {
	text-transform:uppercase;
	border: 1px solid #006699;
	background: #3994d4;
	background: -webkit-gradient(linear, left top, left bottom, from(#3994d4), to(#1d7db7));
	background: -webkit-linear-gradient(top, #3994d4, #1d7db7);
	background: -moz-linear-gradient(top, #3994d4, #1d7db7);
	background: -ms-linear-gradient(top, #3994d4, #1d7db7);
	background: -o-linear-gradient(top, #3994d4, #1d7db7);
	padding: 7.5px 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
	color:#fff;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	font-family:"Open Sans";
	font-weight:700;
	text-transform:uppercase;
    -webkit-transition:.3s;-moz-transition:.3s;transition:.3s
}
.bluebtn:hover{
	color:#fff;
	border: 1px solid #006699;
	background: #1d7db7;
	background: -webkit-gradient(linear, left top, left bottom, from(#1d7db7), to(#3994d4));
	background: -webkit-linear-gradient(top, #1d7db7, #3994d4);
	background: -moz-linear-gradient(top, #1d7db7, #3994d4);
	background: -ms-linear-gradient(top, #1d7db7, #3994d4);
	background: -o-linear-gradient(top, #1d7db7, #3994d4);
}



.login-wrap{
width:250px;
height:310px;
background:transparent;
margin:auto auto;
position:absolute;

-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
-ms-animation: fadein 2s; /* Internet Explorer */
-o-animation: fadein 2s; /* Opera < 12.1 */
animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.cpadding50{padding:20px;}
.chpadding50{padding:0 20px;}


@media (min-width:400px){

	.login-wrap{width:372px;height:380px;}
	.cpadding50{padding:50px;}
	.chpadding50{padding:0 50px;}
	img.login-img{margin-left:5px; margin-bottom:5px; width:147px!important;}

	.login-c1{	height:195px!important;	}
	.login-c2{height:231px!important;}
	.login-c3{ margin-top:281px!important; }
	.alignbottom{right:50px!important;}
	.alignbottom2{left:50px!important;}

}

img.login-img{margin-left:5px; margin-bottom:5px; width:110px;}

.login-c1{
width:94%;
height:147px;
background:#ffffff;
z-index:100;
position:absolute;
margin-left:3%;
border:1px solid #999;
}

.login-c2{
width:100%;
height:171px;
background:#f2f2f2;
color:#666;
z-index:50;
margin-top:50px;
position:absolute;
border:1px solid #999;
}
.login-c3{
width:94%;
height:54px;
background:#1d7db7;
z-index:10;
margin-left:3%;
position:absolute;
border:1px solid #999;
border-top:0;
}
.logmargfix{
padding-left:3%;
padding-right:3%;
}
input.logpadding{
height:42px;
}

.alignbottom{
position:absolute;
bottom:25px;
right:20px;
margin-right:3%;
}

.alignbottom2{
position:absolute;
bottom:23px;
left:20px;
margin-left:3%;
}
.login-c3 .right{margin-right:20px; margin-top:15px;}
.login-c3 .left{margin-left:20px; margin-top:15px;}
.login-c3 .left span{
width:26px;
height:26px;
background:url('../images/login-home.png') scroll 0 0 no-repeat;
display:block;
float:left;
margin-top:-3px;
margin-right:5px;
}

.warning{ font-weight:400; font-size: 12px;text-align: center; position: absolute; top:130px; left: 40px; z-index: 999; }
.long{ width:92%; left: 10px; }
.warning{ color:red; }